<div class="pr-5 pl-5 bg-bishound">
  <app-dashboard-nav-bar></app-dashboard-nav-bar>
<!-- Home Windows -->

<div class="row mt-3">
  <!-- Main Home Page -->

  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <div id="accordion" class="box-shadow-medium p-3">

      <div class="">
        <div class="border-bottom border-primary" id="headingOrders" data-toggle="collapse" data-target="#collapseOrder" aria-expanded="true" aria-controls="collapseOrder">
          <h5 class="mb-0">
            <button class="btn btn-link c-celeste-bishound">
              Orders
            </button>
          </h5>
        </div>
        <div id="collapseOrder" class="collapse show" aria-labelledby="headingOrders" data-parent="#accordion">
          <div class="card-body">
            <nav class="ml-4">
              <a class="nav-link" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/buying/active-orders']">Actives</a>
              <a class="nav-link" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/buying/delivered-orders']">Delivered</a>
              <a class="nav-link" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/buying/completed-orders']">Completed</a>
              <a class="nav-link" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/buying/canceled-orders']">Cancelled</a>
            </nav>
          </div>
        </div>
      </div>

      <div class="">
        <div class="border-bottom border-primary" >
          <h5 class="mb-0 pl-0">
              <a class="btn btn-link ml-0" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/buying/my-requests']">My Requests</a>
          </h5>
        </div>
      </div>

      <div class="">
        <div class="border-bottom border-primary">
          <h5 class="mb-0 pl-0">
            <a class="btn btn-link ml-0" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/buying/my-projects']">My Projects</a>
          </h5>
        </div>
      </div>

    </div>
  </div>
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 offset-xl-1">
    <div class="text-center w-100 mb-3">
        <div class="text-left c-azul-bishound">
          <h2>{{title}}</h2>
        </div>
        <div class="card-body">
          <table class="table table-hover commerce" [mfData]="Table" #mf="mfDataTable" [mfRowsOnPage]="6">
            <thead>
                <tr class="row mt-1">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 border-secundary p-3 bg-celeste-bishound row" style="color:#ffffff;border:solid 0.15rem;border-right:0px;margin:auto;border-color:#6c757d">
                        <mfDefaultSorter by="nombre">Buyer</mfDefaultSorter>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 border-secundary p-3 bg-celeste-bishound row" style="color:#ffffff;border:solid 0.15rem;border-right:0px;margin:auto;border-color:#6c757d">
                        <mfDefaultSorter by="nombre">Bis Name</mfDefaultSorter>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 border-secundary p-3 bg-celeste-bishound" style="color:#ffffff;border:solid 0.15rem;border-right:0px;border-color:#6c757d" >
                        <mfDefaultSorter by="nombre">Date</mfDefaultSorter>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 border-secundary p-3 bg-celeste-bishound" style="color:#ffffff;border:solid 0.15rem;border-color:#6c757d" >
                        <mfDefaultSorter by="nombre">Comment</mfDefaultSorter>
                    </div>

                </tr>
            </thead>
            <tbody >
              <tr class="row" *ngFor="let data of mf.data">
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 border border-secondary p-3 row c-azul-bushound" style="margin:auto;" >
                      {{(data.Proforma)?((data.Proforma.Creador)?data.Proforma.Creador.primerNombre+" "+data.Proforma.Creador.segundoNombre+" "+data.Proforma.Creador.primerApellido+" "+data.Proforma.Creador.segundoApellido:''):''}}
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 border border-secondary p-3 row" style="margin:auto;" >
                    {{(data.Proforma)?((data.Proforma.Bis)?data.Proforma.Bis.titulo:''):''}}
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 border border-secondary p-3 c-azul-bishound" >
                      {{(data.fechaEntrega)?data.fechaEntrega.split('T')[0]:''}}
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 border border-secondary p-3" >
                     comment
                  </div>
              </tr>

            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
            </tr>
            </tfoot>
          </table>


        </div>
      </div>
  <!-- Fin Main Home Page -->
</div>

<!-- Fin Home Windows -->
</div>
