

<div class="container">

  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 offset-xs-2 offset-sm-2 offset-md-2 offset-lg-2 mt-5 mb-5">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="inner cover my-auto">
          <h1 class="cover-heading text-primary">Come With Me.</h1>
          <p class="lead">Nuestra mision es que no te pierda ningun evento, por eso te invitamos a venir con nosotros.</p>
          <p class="lead text-right">
            <a [routerLink]="['./../']" class="btn btn-lg btn-outline-secondary">Ver Eventos</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>



