<div class="pr-5 pl-5 bg-bishound">
  <nav class="navbar navbar-expand-lg navbar-bishound-prof ">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-bishound bg-bishound"   [routerLink]="['./../../dashboard/home']">Dashboard </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/selling/active-orders']" *ngIf="tipoUsuario>=2">Selling </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/buying/my-projects']">Buying </a>
      </li>
      <li class="nav-item">
        <a class="nav-link c-rosa-bishound"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/tools/benefits']" *ngIf="tipoUsuario>=2">Tools for Grow </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/buyers']">Contacts </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  tooltip="Comming Soon" placement="bottom" [routerLink]="['./']"  *ngIf="tipoUsuario>=2">Inbox </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active-bishound bg-bishound"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../settings']">Settings</a>
      </li>
    </ul>
    <div class="text-right" style="margin-left:auto;">
      <button type="button" class="btn c-rosa-bishound " style="background-color:#fafafa!important" tooltip="Comming Soon" placement="left" *ngIf="tipoUsuario>=2">Create your site</button>
      <button type="button" class="btn btn-primary" [routerLink]="['./../../create/bis']" *ngIf="tipoUsuario>=2">Create a Bis</button>
    </div>
  </nav>

    <!-- Home Windows -->

    <div class="row mt-3">
      <!-- Main Home Page -->

      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <div id="accordion" class="box-shadow-medium p-3">

            <div class="">
              <div class="border-bottom border-primary">
                <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../settings/profile']">Profile</a>
                </h5>
              </div>
            </div>

            <div class="">
              <div class="border-bottom border-primary">
                <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" tooltip="Comming Soon" placement="right" [routerLink]="['./']" >Skills</a>
                </h5>
              </div>
            </div>

            <div class="">
              <div class="border-bottom border-primary">
                <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../profile/verified']">Trust and Verification</a>
                </h5>
              </div>
            </div>

            <div class="">
              <div class="border-bottom border-primary">
                <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" tooltip="Comming Soon" placement="right" [routerLink]="['./']" >References</a>
                </h5>
              </div>
            </div>



          </div>
        </div>

      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 offset-xl-1">
        <div class="row pb-3">
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 c-azul-bishound border-bottom border-dark">
            <h1>Main Skills and Sub-Ctegories</h1>
          </div>

          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pt-3 c-celeste-bishound border-bottom border-dark">
            <a (click)="agregar()" class="pointer"><i class="fa fa-plus-circle"> </i> Add Skill</a>
          </div>


          <div class="col-xs-4 col-sm-4 pb-2 pt-3 col-md-4 col-lg-4 border-bottom border-dark">
            <h3 class="c-azul-bishound mb-5">Category XXXX</h3>
            <a class="c-celeste-bishound" style="font-size:1rem;">Update Skill</a>
          </div>
          <div class="col-xs-8 col-sm-8 pb-3 pt-3 col-md-8 col-lg-8 border-bottom border-dark" style="font-size:1.4rem;">
           <strong>software</strong>, statistics, teaching, technology, tips, tools, toread, travel, tutorial, tutorials, tv, twitter, typography, <strong>ubuntu</strong>, usability, video, videos, visualization, web, web 2.0, web design, webdev
          </div>

          <div class="col-xs-4 col-sm-4 pb-2 pt-3 col-md-4 col-lg-4 border-bottom border-dark">
            <h3 class="c-azul-bishound mb-5">Category XXXX</h3>
            <a class="c-celeste-bishound" style="font-size:1rem;">Update Skill</a>
          </div>
          <div class="col-xs-8 col-sm-8 pb-3 pt-3 col-md-8 col-lg-8 border-bottom border-dark" style="font-size:1.4rem;">
           <strong>software</strong>, statistics, teaching, technology, tips, tools, toread, travel, tutorial, tutorials, tv, twitter, typography, <strong>ubuntu</strong>, usability, video, videos, visualization, web, web 2.0, web design, webdev
          </div>

          <div class="col-xs-4 col-sm-4 pb-2 pt-3 col-md-4 col-lg-4 border-bottom border-dark">
            <h3 class="c-azul-bishound mb-5">Category XXXX</h3>
            <a class="c-celeste-bishound" style="font-size:1rem;">Update Skill</a>
          </div>
          <div class="col-xs-8 col-sm-8 pb-3 pt-3 col-md-8 col-lg-8 border-bottom border-dark" style="font-size:1.4rem;">
           <strong>software</strong>, statistics, teaching, technology, tips, tools, toread, travel, tutorial, tutorials, tv, twitter, typography, <strong>ubuntu</strong>, usability, video, videos, visualization, web, web 2.0, web design, webdev
          </div>

          <div class="col-xs-4 col-sm-4 pb-2 pt-3 col-md-4 col-lg-4 border-bottom border-dark">
            <h3 class="c-azul-bishound mb-5">Category XXXX</h3>
            <a class="c-celeste-bishound" style="font-size:1rem;">Update Skill</a>
          </div>
          <div class="col-xs-8 col-sm-8 pb-3 pt-3 col-md-8 col-lg-8 border-bottom border-dark" style="font-size:1.4rem;">
           <strong>software</strong>, statistics, teaching, technology, tips, tools, toread, travel, tutorial, tutorials, tv, twitter, typography, <strong>ubuntu</strong>, usability, video, videos, visualization, web, web 2.0, web design, webdev
          </div>
        </div>

        <div class="row pt-5">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 c-azul-bishound pt-5">
            <h1>Add Skills and Sub-Ctegories</h1>
          </div>
          <div class="col-xs-7 col-sm-7 pb-2 pt-3 col-md-7 col-lg-7 pl-5">
            <h3 class="c-azul-bishound">Main Category</h3>
            <select name="" id="input" class="form-control">
              <option value="">-- Select One --</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-12 pb-3 pt-3 col-md-12 col-lg-12 pl-5">
            <h3 class="c-azul-bishound">Sub-Categories</h3>
          </div>
          <div class="col-xs-12 col-sm-12 pb-2 pt-1 col-md-12 col-lg-12 pl-5">
            <table class="table table-striped table-hover commerce" [mfData]="Table" #mf="mfDataTable">
              <tbody class="row">
                <div class="col-xl-3 pt-3 pb-3" *ngFor="let data of mf.data">

                  <div class="checkbox">
                    <input type="checkbox" id="category_{{data.id}}" value="{{data.id}}">
                    <label for="category_{{data.id}}">
                      <span> {{((data.descripcion!=null)?data.descripcion:'')}}</span>
                    </label>
                  </div>


                </div>
              </tbody>
              <tfoot>

              </tfoot>
            </table>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 c-azul-bishound">Other</h3>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-1">
              <input type="text" name="nombre" id="nombre" ngModel #nombre="ngModel" class="form-control bishound-input">
            </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left pb-1 c-celeste-bishound">
                <a (click)="agregar()" class="pointer"><i class="fa fa-plus-circle"> </i> Add more</a>
              </div>
          </div>

          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-5 pt-5 text-left">
            <button type="submit" class="btn btn-outline-primary form-control">Add Skill</button>
          </div>

        </div>
      </div>
      <!-- Fin Main Home Page -->
    </div>

    <!-- Fin Home Windows -->
  </div>
