<div class="container c-azul-bishound">

<div class="row" *ngIf="selectedData">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-4">
<h1>Offer - {{((selectedData.titulo)?selectedData.titulo:'Titulo')}}</h1>
  </div>
  <form class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center" *ngIf="!proforma.id">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
      <span><h4>Describe your Offer</h4></span>
      <span><h5>Your Offer is your chance to crate a good first impression with the customer, Do it awesome!!</h5></span>

      <textarea name="descripcion" id="descripcion" class="form-control bishound-input" rows="10" required="required" ngModel #descripcion="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="proforma.descripcion"></textarea>
      <div class="text-right"><small>Left 1500 Characters</small></div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
      <h4>Offer items</h4>
      <span>Define each one of the ToDo Items to comply with the </span>
      <div class="row text-center pl-5 pb-2 pt-2" *ngFor="let dat of rowsItems">
        <span class="">
          <label class="text-rigth" for="descripcionDetail{{dat.continuidad}}">{{dat.continuidad?dat.continuidad+"":'1'}}.</label>
        </span>
        <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <input type="text" id="descripcionDetail{{dat.continuidad}}" class="form-control bishound-input" placeholder="Describe your item" >
        </div>
        <span class="">
          <label class="text-rigth" for="costDetail{{dat.continuidad}}">Cost</label>
        </span>
        <div class=" col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <input type="number" id="costDetail{{dat.continuidad}}" class="form-control bishound-input" (keyup)="sumarDato($event)" placeholder="$125" >
        </div>
        <span class="">
          <label class="text-rigth" for="timeDetail{{dat.continuidad}}">Time</label>
        </span>
        <div class=" col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <input type="number" id="timeDetail{{dat.continuidad}}" class="form-control bishound-input" (keyup)="sumarDato($event)" placeholder="1h" >
        </div>

      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
         <a (click)="agregar()" class="pointer"><i class="fa fa-plus-circle"> </i> Add new Item...</a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mt-5">
      <span><h4>Files</h4></span>
      <span><h5>Provider all files that help to yo to complete your offer</h5></span>

      <input name="" id="" class="form-control bishound-input" type="file" required="required">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pt-3">
          Total time spend
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h1>{{proforma.tiempo}} h</h1>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pt-3">
          Total project
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h1>$ {{proforma.costo}}</h1>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-4 mb-5">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

          <button type="button" class="btn btn-primary form-control" (click)="insert()">Save and Send Offer</button>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <button type="button" class="btn btn-outline-primary form-control">Cancel Offer</button>
        </div>
      </div>
    </div>


  </form>

  <form class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center" *ngIf="proforma.id">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
      <span><h4>Describe your Offer</h4></span>
      <span><h5>Your Offer is your chance to crate a good first impression with the customer, Do it awesome!!</h5></span>

      <textarea name="descripcion" id="descripcion" class="form-control bishound-input" rows="10" required="required" ngModel #descripcion="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="proforma.descripcion"></textarea>
      <div class="text-right"><small>Left 1500 Characters</small></div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
      <h4>Offer items</h4>
      <span>Define each one of the ToDo Items to comply with the </span>
      <div class="row text-center pl-5 pb-2 pt-2" *ngFor="let dat of proforma.CotizacionItems">
        <span class="">
          <label class="text-rigth" for="descripcionDetail{{dat.continuidad}}">{{dat.continuidad}}.</label>
        </span>
        <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <input type="text" id="descripcionDetail{{dat.continuidad}}" class="form-control bishound-input" placeholder="Describe your item" [ngModelOptions]="{standalone: true}" [(ngModel)]="dat.descripcion">
        </div>
        <span class="">
          <label class="text-rigth" for="costDetail{{dat.continuidad}}">Cost</label>
        </span>
        <div class=" col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <input type="number" id="costDetail{{dat.continuidad}}" class="form-control bishound-input" (keyup)="sumarDato($event)" placeholder="$125" [ngModelOptions]="{standalone: true}" [(ngModel)]="dat.costo">
        </div>
        <span class="">
          <label class="text-rigth" for="timeDetail{{dat.continuidad}}">Time</label>
        </span>
        <div class=" col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <input type="number" id="timeDetail{{dat.continuidad}}" class="form-control bishound-input" (keyup)="sumarDato($event)" placeholder="1h" [ngModelOptions]="{standalone: true}" [(ngModel)]="dat.tiempo">
        </div>

      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
         <a (click)="agregar()" class="pointer"><i class="fa fa-plus-circle"> </i> Add new Item...</a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mt-5">
      <span><h4>Files</h4></span>
      <span><h5>Provider all files that help to yo to complete your offer</h5></span>

      <input name="" id="" class="form-control bishound-input" type="file" required="required">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pt-3">
          Total time spend
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h1>{{proforma.tiempo}} h</h1>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pt-3">
          Total project
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h1>$ {{proforma.costo}}</h1>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-4 mb-5">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

          <button type="button" *ngIf="thistype=='bis'"  (click)="update()" class="btn btn-primary form-control">Save and Re-Send Offer</button>
          <button type="button" *ngIf="thistype=='projects'" (click)="acceptOffer()" class="btn btn-primary form-control">Accept Offer</button>
          <button type="button" *ngIf="thistype=='request'" (click)="acceptOffer()" class="btn btn-primary form-control">Accept Offer</button>
          <button type="button" *ngIf="thistype=='project'" (click)="update()" class="btn btn-primary form-control">Update Offer</button>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <button type="button" class="btn btn-outline-primary form-control">Cancel Offer</button>
        </div>
      </div>
    </div>


  </form>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center" *ngIf="selectedData">
      <div class="card-header row text-left w-100">
          <h2>{{thistype.toUpperCase()}} DESCRIPTION</h2>
      </div>
      <div class="border border-secundary row text-left">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Description</h1>
            <p>
                {{((selectedData.descripcion)?selectedData.descripcion:'Titulo')}}
            </p>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
          <h3>Budget</h3>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <h4>$ {{((selectedData.maximo)?selectedData.maximo:'500000')}}</h4>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 mb-3">
          <h5>Delivery time frame</h5>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 mb-3">
          <h5>3 weeks</h5>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 mb-3">
          <h4>Skills Required</h4>
          <h5>Skill 1, skill 2, skill n...</h5>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 mb-5">
          <h4>Additional Files</h4>
          <h5> <img src="https://image.flaticon.com/icons/png/512/36/36152.png" height="50px" class="img-responsive" alt="Image"> name.txt</h5>
          <h5> <img src="https://image.flaticon.com/icons/png/512/36/36152.png" height="50px" class="img-responsive" alt="Image"> name.txt</h5>
          <h5> <img src="https://image.flaticon.com/icons/png/512/36/36152.png" height="50px" class="img-responsive" alt="Image"> name.txt</h5>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 mb-3 mt-3">
          <img src="{{((selectedData.Creador)?selectedData.Creador.avatar:((selectedData.Usuario)?selectedData.Usuario.avatar:'https://image.flaticon.com/icons/png/512/64/64096.png'))}}" height="100px" class="img-responsive" alt="Image"> <br> <span> {{((selectedData.Creador)?selectedData.Creador.primerNombre+' '+selectedData.Creador.segundoNombre+' '+selectedData.Creador.primerApellido+' '+selectedData.Creador.segundoApellido:((selectedData.Usuario)?selectedData.Usuario.primerNombre+' '+selectedData.Usuario.segundoNombre+' '+selectedData.Usuario.primerApellido+' '+selectedData.Usuario.segundoApellido:'Username'))}}</span>
        </div>
      </div>
  </div>
</div>

</div>
