
<!-- wizzard 8 -->
<div class="pr-5 pl-5 mb-5" [class.d-none]="vista!=7">
    <nav aria-label="breadcrumb" class="navbar-bishound-prof">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Home</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">About Us</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Services</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Products</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Portafolio</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Contact</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Preview</a></li>
      </ol>
    </nav>
    <div class="row px-5 mb-5">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 offset-xl-2 text-left mb-4 p-5 text-center ">
            <h1 class="c-azul-bishound">It's Alive!</h1>
            <h5>Promotores your BIS</h5>

            <input type="text" class="form-control bishound-input" placeholder="https://bishound.com/username/bis.title" required="required" pattern="" title="">

        </div>
          <!-- Formulario -->


          <!-- Fin Formulario -->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
        <button type="button" class="btn btn-outline-primary" [routerLink]="['./../dashboard/bis/active']">CANCEL</button>
        <button type="button" class="btn btn-primary" (click)="update({pagina:vista+1,inicial:false});vista=vista+1">PREVIEW</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
        <button type="button" class="btn btn-outline-secondary" (click)="vista=vista">PUBLISH</button>
      </div>
    </div>
</div>
  <!-- Fin wizzard 8 -->
<!-- wizzard 6 -->
<div class="pr-5 pl-5 mb-5" [class.d-none]="vista != 9">
    <nav aria-label="breadcrumb" class="navbar-bishound-prof">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Home</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">About Us</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Services</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Products</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Portafolio</a></li>
          <li class="breadcrumb-item">Contact</li>
          <li class="breadcrumb-item">Preview</li>
      </ol>
    </nav>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border border-dark p-5 mb-3 c-bishound" style="height:25rem;">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="c-azul-bishound">Would you like to</h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="checkbox">
            <label class="c-azul-bishound pb-4">
                <input class="c-azul-bishound" type="checkbox" value="1">
                Export your Completed Orders
            </label>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="checkbox">
            <label class="c-azul-bishound pb-4">
              <input class="c-azul-bishound" type="checkbox" value="1">
               Export your Actives Orders
            </label>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
            <a (click)="agregar()" class="pointer c-celeste-bishound"><i class="fa fa-plus-circle"> </i> Add new Item...</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
        <button type="button" class="btn btn-outline-primary" [routerLink]="['./../dashboard/bis/active']">CANCEL</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
        <button type="button" class="btn btn-outline-secondary" (click)="vista=vista-1">BACK</button>
        <button type="button" class="btn btn-primary" (click)="update({pagina:vista+1,inicial:false});vista=vista+1">SAVE AND CONTINUE</button>
      </div>
    </div>
  </div>
    <!-- Fin wizzard 6 -->
<!-- wizzard 7 -->
<div class="pr-5 pl-5 mb-5" [class.d-none]="vista!=6">
    <nav aria-label="breadcrumb" class="navbar-bishound-prof">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Home</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">About Us</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Services</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Products</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Portafolio</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Contact</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Preview</a></li>
      </ol>
    </nav>
    <div class="row px-5 mb-5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border border-dark p-5" style="height:20rem;">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="c-azul-bishound">Would you like to</h1>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="checkbox">
              <label class="c-azul-bishound pb-4">
                <input class="c-azul-bishound" type="checkbox" value="1">
                  Export your Personal profile Contact
              </label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="checkbox">
              <label class="c-azul-bishound pb-4">
                <input class="c-azul-bishound" type="checkbox" value="1">
                Export your Enterprise profile Contact
              </label>
            </div>
          </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
        <button type="button" class="btn btn-outline-primary" [routerLink]="['./../dashboard/bis/active']">CANCEL</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
        <button type="button" class="btn btn-outline-secondary" (click)="vista=vista-1">BACK</button>
        <button type="button" class="btn btn-primary" (click)="update({pagina:vista+1,inicial:false});vista=vista+1">SAVE AND CONTINUE</button>
      </div>
    </div>
  </div>
  <!-- Fin wizzard 7 -->
<!-- wizzard 2 -->
<div class="pr-5 pl-5 mb-5" [class.d-none]="vista!=2">
  <nav aria-label="breadcrumb" class="navbar-bishound-prof">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Home</a></li>
      <li class="breadcrumb-item">ABOUT US</li>
      <li class="breadcrumb-item">Services</li>
      <li class="breadcrumb-item">Products</li>
      <li class="breadcrumb-item">Portafolio</li>
      <li class="breadcrumb-item">Contact</li>
      <li class="breadcrumb-item">Preview</li>
    </ol>
  </nav>

  <div class="row px-5 mb-5">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border border-dark p-5" style="height:20rem;">
      <div class="form-group col-xs-6 col-xs-offset-3">
          <input type="file" id="avatar" />
          <progress value="0" max="100" id="barra_de_progreso"></progress>
      </div>

      <div *ngIf="picture!=null" class="form-group col-xs-6 col-xs-offset-3">
            <img src="{{selectedUser.picture}}" id="imgAvatar" alt="Avatar" style="width:100%;">
      </div>


    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-left mb-4 mt-3">
      <label for="title"><h4>Description Text</h4></label>
      <div class="text-left"><small>add a description test for each file</small></div>
      <textarea name="" id="title" class="form-control bishound-input" rows="2" required="required"></textarea>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
        <a (click)="agregar()" class="pointer"><i class="fa fa-plus-circle"> </i> Add new Item...</a>
     </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
      <button type="button" class="btn btn-outline-primary" [routerLink]="['./../dashboard/bis/active']">CANCEL</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
      <button type="button" class="btn btn-primary" (click)="update({pagina:vista+1,inicial:false});vista=vista+1">SAVE AND CONTINUE</button>
    </div>
  </div>
</div>
<!-- Fin wizzard 2 -->

<!-- wizzard 3 -->
<div class="pr-5 pl-5 mb-5" [class.d-none]="vista!=3">
  <nav aria-label="breadcrumb" class="navbar-bishound-prof">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Home</a></li>
        <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">About Us</a></li>
        <li class="breadcrumb-item">Services</li>
        <li class="breadcrumb-item">Products</li>
        <li class="breadcrumb-item">Portafolio</li>
        <li class="breadcrumb-item">Contact</li>
        <li class="breadcrumb-item">Preview</li>
    </ol>
  </nav>

  <div class="row px-5 mb-5">


      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border border-dark p-5" style="height:25rem;">

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h1 class="c-azul-bishound">Would you like to</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="checkbox">
                <label>
                  <input class="c-azul-bishound" type="checkbox" value="1">
                  Select your Profile Description
                </label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="checkbox">
                <label>
                  <input class="c-azul-bishound" type="checkbox" value="1">
                  Select your enterprise Profile Description
                </label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="checkbox">
                <label>
                  <input class="c-azul-bishound" type="checkbox" value="1">
                  Add a new description
                </label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4 mt-3">
                <label for="title"><h4 class="c-azul-bishound">Describe yourself</h4></label>
                <textarea name="" id="title" class="form-control bishound-input" rows="5" required="required"></textarea>
              </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-4">
          <h3>Show Enterprise Name?</h3>
          <div class="input-group mb-3">
            <div class="input-group-prepend pr-2 pt-1">
              <div>No</div>
            </div>
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
            <div class="input-group-prepend pl-2 pt-1">
              <div>Yes</div>
            </div>
          </div>
          <small>We use this data for analysis ands never share it with other users</small>
        </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
      <button type="button" class="btn btn-outline-primary" [routerLink]="['./../dashboard/bis/active']">CANCEL</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
      <button type="button" class="btn btn-outline-secondary" (click)="vista=vista-1">BACK</button>
      <button type="button" class="btn btn-primary" (click)="update({pagina:vista+1,inicial:false});vista=vista+1">SAVE AND CONTINUE</button>
    </div>
  </div>
</div>
<!-- Fin wizzard 3 -->


<!-- wizzard 5 -->
<div class="pr-5 pl-5 mb-5" [class.d-none]="vista!=5">
    <nav aria-label="breadcrumb" class="navbar-bishound-prof">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Home</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">About Us</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Services</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Products</a></li>
          <li class="breadcrumb-item">Portafolio</li>
          <li class="breadcrumb-item">Contact</li>
          <li class="breadcrumb-item">Preview</li>
      </ol>
    </nav>

    <div class="row px-5 mb-5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border border-dark p-5 c-bishound" style="height:25rem;">

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="c-azul-bishound">Would you like to</h1>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="checkbox">
                  <label class="c-azul-bishound pb-4">
                    <input class="c-azul-bishound" type="checkbox" value="1">
                    Export your Products
                  </label>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                <a (click)="agregar()" class="pointer c-celeste-bishound"><i class="fa fa-plus-circle"> </i> Add new Item...</a>
              </div>
            </div>
          </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
        <button type="button" class="btn btn-outline-primary" [routerLink]="['./../dashboard/bis/active']">CANCEL</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
        <button type="button" class="btn btn-outline-secondary" (click)="vista=vista-1">BACK</button>
        <button type="button" class="btn btn-primary" (click)="update({pagina:vista+1,inicial:false});vista=vista+1">SAVE AND CONTINUE</button>
      </div>
    </div>
  </div>

<!-- Fin wizzard 5 -->
<!-- wizzard 4 -->
<div class="pr-5 pl-5 mb-5" [class.d-none]="vista!=4">
    <nav aria-label="breadcrumb" class="navbar-bishound-prof">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Home</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">About Us</a></li>
          <li class="breadcrumb-item"><a class="c-rosa-bishound" [routerLink]="['./../create/landing']">Services</a></li>
          <li class="breadcrumb-item">Products</li>
          <li class="breadcrumb-item">Portafolio</li>
          <li class="breadcrumb-item">Contact</li>
          <li class="breadcrumb-item">Preview</li>
      </ol>
    </nav>

    <div class="row px-5 mb-5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border border-dark p-5 mb-3 c-bishound" style="height:25rem;">

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="c-azul-bishound">Would you like to</h1>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="checkbox">
                  <label class="c-azul-bishound pb-4">
                    <input class="c-azul-bishound" type="checkbox" value="1">
                    Export your Bis's
                  </label>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="checkbox">
                  <label class="c-azul-bishound pb-4">
                    <input class="c-azul-bishound" type="checkbox" value="1">
                    Export your skills (categories)
                  </label>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                <a (click)="agregar()" class="pointer c-celeste-bishound"><i class="fa fa-plus-circle"> </i> Add new Item...</a>
              </div>
            </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
        <button type="button" class="btn btn-outline-primary" [routerLink]="['./../dashboard/bis/active']">CANCEL</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
        <button type="button" class="btn btn-outline-secondary" (click)="vista=vista-1">BACK</button>
        <button type="button" class="btn btn-primary" (click)="update({pagina:vista+1,inicial:false});vista=vista+1">SAVE AND CONTINUE</button>
      </div>
    </div>
  </div>
  <!-- Fin wizzard 4 -->


