<div class="text-center mb-3" *ngIf="SelectedData">
  <!-- prueba de slider nuevo -->
  <ngb-carousel *ngIf="SelectedData">
    <ng-template ngbSlide *ngFor="let data of SelectedData.imagenes">
      <div >
        <img [src]="data.url" alt="Random first slide" style="width: auto;height: 100%!important;">
        <div class="carousel-caption">
          <h3>{{data.titulo}}</h3>
          <p>{{data.descripcion}}</p>
        </div>
      </div>

    </ng-template>
  </ngb-carousel>
  <!-- Fin prueba slider -->
  <div class="ml-5 mr-5 text-left mt-5" >
    <div class="row" *ngIf="SelectedData">
      <div class="col-xs-10 col-sm-10 col-md-12 col-lg-6 offset-lg-3">
        <span class="text-primary">
          <h3>
            Evento
          </h3>
        </span>
        <small class="text-dark">
          Escoge la Funcion que mas te interese
        </small>
          <div class="card">
            <div class="card-header text-secondary" id="headingOne">
              <div class="mb-0 pointer">
                  <h3>{{SelectedData.titulo}} </h3>
                  <small> Fecha: {{SelectedData.fecha_inicio}} </small>
                  <br> <small> Hora: {{SelectedData.hora_inicio.substr(0,(SelectedData.hora_inicio.length-3))}} </small>
              </div>
            </div>
              <div class="card-body">
                <a *ngFor="let items of SelectedData.areas" class="row text-left pl-3 my-3" [routerLink]="['./']"  (click)="navegar('./../../../evento/'+SelectedData.id+'/localidad/'+items.id)">
                  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    {{items.titulo}}
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <strong>
                      ${{+items.precio>0?(+items.precio).toFixed(2):'0.00'}}*
                    </strong>
                  </div>
                </a>
              </div>
          </div>

      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

      </div>
    </div>
  </div>

</div>
<div class="text-center mb-3"  *ngIf="!SelectedData">
  <!-- prueba de slider nuevo -->
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let data of [{url:'https://placehold.it/700X200?text=NO ENCONTRADO',titulo:'',descripcion:''}]">
      <div >
        <img [src]="data.url" alt="Random first slide" style="width: auto;height: 100%!important;">
        <div class="carousel-caption">
          <h3>{{data.titulo}}</h3>
          <p>{{data.descripcion}}</p>
        </div>
      </div>

    </ng-template>
  </ngb-carousel>
  <!-- Fin prueba slider -->
  <div class="ml-5 mr-5 text-left mt-5" >
    <div class="row">

      <div class="ol-xs-10 col-sm-10 col-md-12 col-lg-6 offset-lg-3">

        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Evento no Encontrado!!</strong>
        </div>

      </div>

      <div class="col-xs-10 col-sm-10 col-md-12 col-lg-6 offset-lg-3">
        <span class="text-primary">
          <h3 class="text-off">
            Evento
          </h3>
        </span>
        <small class="text-off">
          Escoge la Funcion que mas te interese
        </small>
          <div class="card">
            <div class="card-header text-secondary" id="headingOne">
              <div class="mb-0 pointer">
                  <h3 class="text-off">xxxxxxxxxx </h3>
                  <small> Fecha:  <div class="d-inline w-75 text-off">xxxxxxxx</div></small>
                  <br> <small> Hora: <div class="d-inline w-75 text-off">xxxxxxxxx</div> </small>
              </div>
            </div>
              <div class="card-body">
                <a *ngFor="let items of [{titulo:'xxxxxxx',precio:0.01},{titulo:'xxxxxxx',precio:0.01}]" class="row text-left pl-3 my-3" [routerLink]="['./']"  (click)="navegar('./../../../evento/0/localidad/0')">
                  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 text-off">
                    {{items.titulo}}
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-off">
                    <strong>
                      ${{+items.precio>0?(+items.precio).toFixed(2):'0.00'}}*
                    </strong>
                  </div>
                </a>
              </div>
          </div>

      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

      </div>
    </div>
  </div>

</div>
<!-- fin container -->
  <!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
  <!-- Fin Notificaciones -->

 <!-- Fin Loader Modal -->
 <div class="modal fade" id="generalModalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body w-100">
        <app-login [isModal]="true"></app-login>
      </div>
    </div>
  </div>
</div>
