<div class="pr-5 pl-5 bg-bishound">
    <nav class="navbar navbar-expand-lg navbar-bishound-prof ">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-bishound bg-bishound"   [routerLink]="['./../../dashboard/home']">Dashboard </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/selling/active-orders']" *ngIf="tipoUsuario>=2">Selling </a>
          </li>
          <li class="nav-item">
            <a class="nav-link "  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/buying/my-projects']">Buying </a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-rosa-bishound"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/tools/benefits']" *ngIf="tipoUsuario>=2">Tools for Grow </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/buyers']">Contacts </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  tooltip="Comming Soon" placement="bottom" [routerLink]="['./']"  *ngIf="tipoUsuario>=2">Inbox </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active-bishound bg-bishound"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../settings']">Settings</a>
          </li>
        </ul>
        <div class="text-right" style="margin-left:auto;">
          <button type="button" class="btn c-rosa-bishound " style="background-color:#fafafa!important" tooltip="Comming Soon" placement="left" *ngIf="tipoUsuario>=2">Create your site</button>
          <button type="button" class="btn btn-primary" [routerLink]="['./../../create/bis']" *ngIf="tipoUsuario>=2">Create a Bis</button>
        </div>
    </nav>

    <!-- Home Windows -->

    <div class="row mt-3">
      <!-- Main Home Page -->

      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <div id="accordion" class="box-shadow-medium p-3">

            <div class="">
              <div class="border-bottom border-primary">
                <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../settings/profile']">Profile</a>
                </h5>
              </div>
            </div>

            <div class="">
              <div class="border-bottom border-primary">
                <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0 ml-0 pl-0"  tooltip="Comming Soon" placement="rigth" [routerLink]="['./']" >Skills</a>
                </h5>
              </div>
            </div>

            <div class="">
              <div class="border-bottom border-primary">
                <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../profile/verified']">Trust and Verification</a>
                </h5>
              </div>
            </div>

            <div class="">
              <div class="border-bottom border-primary">
                <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0 ml-0 pl-0"  tooltip="Comming Soon" placement="rigth" [routerLink]="['./']" >References</a>
                </h5>
              </div>
            </div>



          </div>
        </div>

      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 offset-xl-1">
        <div class="text-center w-100 mb-3">
            <div class="text-left row c-azul-bishound">
              <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="type=='avatar'">Profile Picture</h2>
              <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="type=='goverment'">Goverment ID</h2>
              <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="type=='patent'">Commercial Patent</h2>
            </div>
        </div>
        <div class="">
          <div class="row p-3 mt-3 mb-3 border border-bishound">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
              <img src="https://www.shareicon.net/download/2015/12/25/692750_user_512x512.png" class="img-responsive w-50  mb-2" alt="Image" *ngIf="type=='avatar'">
              <img src="https://image.flaticon.com/icons/png/512/48/48751.png" class="img-responsive w-50  mb-2" alt="Image" *ngIf="type=='goverment'">
              <img src="https://image.flaticon.com/icons/png/512/1129/1129453.png" class="img-responsive w-50  mb-2" alt="Image" *ngIf="type=='patent'">
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center" >
              <p class="text-left">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>

              <div class="row pt-3 pb-3" >
                  <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3" *ngIf="type=='avatar'">
                      <input type="file" class="fileinput" accept="image/*" id="AvatarUpdate" (change)="upload($event)">
                      <div class="progress d-none">
                        <div class="progress-bar bg-info" id="barra_de_progreso" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
              </div>
            </div>
        </div>

      </div>
      <!-- Fin Main Home Page -->
    </div>

    <!-- Fin Home Windows -->
  </div>

<!-- Inicio Notificaciones -->
<simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->
