<div class="pr-5 pl-5 bg-bishound">
  <nav class="navbar navbar-expand-lg navbar-bishound-prof ">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-bishound bg-bishound"   [routerLink]="['./../../dashboard/home']">Dashboard </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/selling/active-orders']" *ngIf="tipoUsuario>=2">Selling </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/buying/my-projects']">Buying </a>
      </li>
      <li class="nav-item">
        <a class="nav-link c-rosa-bishound"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/tools/benefits']" *ngIf="tipoUsuario>=2">Tools for Grow </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/buyers']">Contacts </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  tooltip="Comming Soon" placement="bottom" [routerLink]="['./']"  *ngIf="tipoUsuario>=2">Inbox </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active-bishound bg-bishound"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../settings']">Settings</a>
      </li>
    </ul>
    <div class="text-right" style="margin-left:auto;">
      <button type="button" class="btn c-rosa-bishound " style="background-color:#fafafa!important" tooltip="Comming Soon" placement="left" *ngIf="tipoUsuario>=2">Create your site</button>
      <button type="button" class="btn btn-primary" [routerLink]="['./../../create/bis']" *ngIf="tipoUsuario>=2">Create a Bis</button>
    </div>
  </nav>

    <!-- Home Windows -->

    <div class="row mt-3">
      <!-- Main Home Page -->

      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <div id="accordion" class="box-shadow-medium p-3">

            <div class="">
              <div class="border-bottom border-primary">
                <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../settings/profile']">Profile</a>
                </h5>
              </div>
            </div>

            <div class=""*ngIf="tipoUsuario>=2">
              <div class="border-bottom border-primary">
                <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" tooltip="Comming Soon" placement="right" [routerLink]="['./']" >Skills</a>
                </h5>
              </div>
            </div>

            <div class=""*ngIf="tipoUsuario>=2">
              <div class="border-bottom border-primary">
                <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../profile/verified']">Trust and Verification</a>
                </h5>
              </div>
            </div>

            <div class=""*ngIf="tipoUsuario>=2">
              <div class="border-bottom border-primary">
                <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" tooltip="Comming Soon" placement="right" [routerLink]="['./']" >References</a>
                </h5>
              </div>
            </div>



          </div>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 offset-xl-1">
            <div class="text-center w-100 mb-3">
                <div class="text-left row c-azul-bishound">
                  <h2 class="col-xs-6 col-sm-6 col-md-6 col-lg-6">{{title}} (10)</h2>
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                    <!-- <button type="button" class="ml-auto d-inline btn btn-outline-primary" [routerLink]="['./../../post-project']">Create a new Product</button> -->
                  </div>
                </div>
                <div class="card-body row">
                  <table class="table table-hover commerce" [mfData]="Table" #mf="mfDataTable" [mfRowsOnPage]="6">
                    <tbody >
                      <div class="row p-3 mt-3 mb-3 border border-bishound pointer" *ngFor="let data of mf.data;" [class.active]="data.selected" (click)="seleccionar(data)">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center btn-primary" >
                              <div class="mt-3" *ngIf="data.active">Current Plan</div>
                              <h3 class="pt-2 mb-5">{{data.descripcion?data.descripcion:''}}</h3>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 text-left" >
                              <div class="row pt-2 pb-1" >
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
                                 <p class="text-left">
                                  {{data.descripcion?data.descripcion:''}}
                                 </p>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pt-3 text-center">
                                    <h5>
                                      USD $ {{data.precio?data.precio:''}} <strong>{{data.type?data.type:''}}</strong>
                                    </h5>
                                </div>

                              </div>

                            </div>
                      </div>

                    </tbody>
                    <tfoot>
                    <div class="row">
                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 offset-lg-4">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                      </div>
                    </div>
                    </tfoot>
                  </table>

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-none" id="alertSpoiler">

                    <div class="alert alert-info">
                      <strong>Thanks for your interest</strong> coming soon you could buy your membership plan.
                    </div>

                  </div>

                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 offset-md-3 mt-5 text-center">
                      <button id="btnContinue" type="button" class="btn btn-primary btn-lg btn-block p-3" [disabled]="true" (click)="comprarPlan()">Continue</button>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center mt-5">
                      <button type="button" class="btn btn-outline-primary btn-lg btn-block p-3"  (click)="goBack()">Cancel</button>
                    </div>

                </div>
              </div>
        </div>
      <!-- Fin Main Home Page -->
    </div>

    <!-- Fin Home Windows -->
  </div>
