.scrolling{
  overflow-x: auto;
  width: 100%;
}
.categorys{
  height: 50px;
  border: solid #000 1px;
}
.card-block {
  min-height: 220px;
}
.scrolling{
  overflow-x: auto;
}
.rate {
  height: 50px;
  width: 100%;
  padding-left: 1rem;
}

.rate p {
  text-align: center;
}

.rate label {
  font-size: 1.5rem!important;
    margin-right: 0.3rem!important;
}
@media only screen and (max-width: 1300px) {

  .rate label {
    font-size: 100%!important;
      margin-right: 0.3rem!important;
  }
}
input[type="radio"] {
  display: none;
}
.rateMini label {
  color: #a7acb1;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}
.rate label:hover,
.rate label:hover ~ label {
  color: #0000ff;
  cursor: pointer;
}

.btn-bishound:hover{
  background-color: #0000ff!important;
  color: #f8f9fa!important;
  cursor: pointer;
}
.btn-bishound-active:hover{
  background-color: #f8f9fa!important;
  color: #0000ff!important;
  cursor: pointer;
}
/*


input[type="radio"]:checked ~ label {
  color: #0000ff;
}
.valoracionRanking:checked ~ label {
  color: #0000ff;
} */


.checkStar ~ label{
  color: #0000ff;
}


.calificacionResultado{
  position: absolute;
  z-index: 3;
  margin-left: 5%;
  font-size: 0.5rem !important;

}
label {
  color: #a7acb1;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

/* label:hover,
label:hover ~ label {
  color: #0000ff;
} */

input[type="radio"]:checked ~ label {
  color: #0000ff;
}

.vertical-scroll{
  height: 200px;
  overflow-y: auto;
}
.created-date{
  font-size: 0.8rem;
  vertical-align: top;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 5%;
  text-align: center;
  color: #6c757d;
}
.vertical-scroll-comments{
  height: 40%;
  overflow-y: auto;
}
.social-media{
  padding-top: 3%;
  text-align: center;
  margin-bottom: 3%;
}

.social-media a{
  font-size: 1.5rem;
  margin-right: 1rem;
  color: black;
}
.social-media a:hover{
  color: rgb(60, 58, 68);
}
.border-buttom{
  border-bottom: solid 1px #fff;
  color: #fff;
}

.shadow-Main{
  height: 10rem;
  /* background-image: url(./../../../assets/png/03-BienvenidaAPP/Path2095.png); */
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}
.img-profile{
  height: 50%!important;
  width: auto;
  padding: 0;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 15%!important;
}
.profile-main{
  border-radius: 15px;

  margin-left: auto;
  margin-right: auto;
}
.asistentes-row{
  width: 96%;
}
.text{
  color: #474ebb !important;
  font-weight: 400 !important;
}
.border-morado{
  color: #474ebb;
  border-color: #474ebb;
  border-radius: 8px !important;
  border: 1px solid #474ebb;

}
.shadow-lg {
  box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.175) !important;
}
.separador{
  width: 100%;
  height: 1px;
  background-color: #d7dee4;
  display: block;
}
.asistentes{
  height: fit-content;
  margin-top: auto !important;
  margin-bottom: auto !important;
  display: block;
  font-size: 1.5em;
}
.d-grid{
  display: grid;
}
.text-asistentes{
  text-align: right;
  font-size: 2em;
  padding-top: 0;
  padding-bottom: 0;
  height: fit-content;
  line-height: 1;
}
.btn-primary{
/*  background-image: linear-gradient(180deg, rgb(99,131,238), transparent);
  */
}
input[type="radio"] {
  display: block !important;
  width: fit-content;
  margin-top: -50px;
  visibility: hidden;
}
.radio_genero{
  width: 50%;
}
.logos_genero{
  display: block;
  width: 90px;
  height: auto;
}
.icon{
  width: 100%;
  margin-bottom: 0;
  vertical-align: middle;
  border-radius: 7px;
  border: 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}
.icon:active{
  width: 100%;
  margin-bottom: 0;
  vertical-align: middle;
  border-radius: 7px;
  border: 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(99,131,238);
  color: white !important;
}
#hombre:active > .icon{
  width: 100%;
  margin-bottom: 0;
  vertical-align: middle;
  border-radius: 7px;
  border: 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(99,131,238);
  color: white !important;
}
.selectedv{
  background-color: rgb(99,131,238);
  color: white !important;
}
#uploadImagenComentario{
  visibility: hidden;
}
.cuadro-img{
  border-radius: 15px;
    border: 1px solid #6483ee;
    padding: 5px;
    height: 283.5px;
}
.cuadro-img-min{
    border-radius: 15px;
    border: 1px solid #6483ee;
    padding: 5px;
    height: 200px;
}
#barra_de_progreso{
  width: 100%;
}
progress[value]{
/* Elimino la apariencia por defecto */ -webkit-appearance: none; -moz-appearance: none; appearance: none;
/* Quito el borde que aparece en Firefox */ border: none;
 /* Añado mis propios estilos */ width: 270px; height: 10px; overflow:hidden;
 /* Estos estilos solo se aplicaran al fondo de la barra en mozilla */ border:1px inset white; background-color:white;
 z-index: 1;
 float: left;
 margin-top: -46px;
 height: 46px;
 border-radius: 7px;
}
progress::-webkit-progress-value {
  background: rgb(99,131,238);
  border-radius: 7px;
  }
progress::-webkit-progress-bar {
  background-color: white;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
   border-radius: 7px;
    /*esta sombra es para simular el borde que he aplicado arriba para Mozilla*/
}
progress::-moz-progress-bar{
  background: rgb(125, 46, 252);
  /* border-radius: 50%; */
  border-radius: 7px;

}


@media only screen and (max-width: 1000px) {
  .row{
    font-size: 0.8rem;
  }
  .text{
    font-size: 0.8rem;
  }
  .selectedy{
    width: 15vw;
    background-color: rgb(99,131,238);
    color: white !important;
  }
  .fecha{
    font-size: 0.8rem;
    /* width: 1vw; */
    /* padding-top: 1.5vh; */
    /* padding-bottom: 1.5vh; */
  }
}


.carousel-item {
  /* Force to always be block */
  display: block !important;
  z-index: 1;
  position: absolute;
  transform: translateX(100%);
  opacity: 0;
  transition:all  0.2s;
  visibility: hidden;
}

.carousel-item.active {
  position: relative;
  transform: translateX(0);
  visibility: visible ;
  opacity: 1;
}
