<div class="pr-5 pl-5 bg-bishound">
  <app-dashboard-nav-bar></app-dashboard-nav-bar>

    <!-- Home Windows -->

    <div class="row mt-3">
      <!-- Main Home Page -->

      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div id="accordion" class="box-shadow-medium p-3">

          <div class="">
            <div class="border-bottom border-primary" id="headingOrders" data-toggle="collapse" data-target="#collapseOrder" aria-expanded="true" aria-controls="collapseOrder">
              <h5 class="mb-0">
                <button class="btn btn-link c-celeste-bishound">
                  Orders
                </button>
              </h5>
            </div>
            <div id="collapseOrder" class="collapse  bg-secundary" aria-labelledby="headingOrders" data-parent="#accordion">
              <div class="card-body">
                <nav class="ml-4">
                  <a class="nav-link " routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/selling/active-orders']">Actives</a>
                  <a class="nav-link " routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/selling/delivered-orders']">Delivered</a>
                  <a class="nav-link " routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/selling/completed-orders']">Completed</a>
                  <a class="nav-link " routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/selling/canceled-orders']">Cancelled</a>
                </nav>
              </div>
            </div>
          </div>

          <div class="">
            <div class="border-bottom border-primary" id="headingBIS" data-toggle="collapse" data-target="#collapseBIS" aria-expanded="true" aria-controls="collapseBIS">
              <h5 class="mb-0">
                <button class="btn btn-link c-celeste-bishound">
                  BIS
                </button>
              </h5>
            </div>
            <div id="collapseBIS" class="collapse show bg-secundary" aria-labelledby="headingBIS" data-parent="#accordion">
              <div class="card-body">
                <nav class="ml-4">
                  <a class="nav-link " routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/bis/active']">Actives</a>
                  <a class="nav-link " routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/bis/draft']">Drafts</a>
                  <a class="nav-link " routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/bis/denied']">Denied</a>
                  <a class="nav-link " routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/bis/disabled']">Disabled</a>
                </nav>
              </div>
            </div>
          </div>

          <div class="">
            <div class="border-bottom border-primary">
              <h5 class="mb-0 pl-0">
                <a class="btn btn-link ml-0 pl-0" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/products/active']">Catalog</a>
              </h5>
            </div>
          </div>

          <div class="">
            <div class="border-bottom border-primary" >
              <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/bis/analytics']">Analytics</a>
              </h5>
            </div>
          </div>

          <div class="">
            <div class="border-bottom border-primary">
              <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/selling/buyers-request']">Buyer Request</a>
              </h5>
            </div>
          </div>

          <div class="">
            <div class="border-bottom border-primary">
              <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../../dashboard/selling/offers']">My Offers</a>
              </h5>
            </div>
          </div>

        </div>
      </div>

      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 offset-xl-1">
          <div class=" text-center w-100 mb-3">
              <div class="c-azul-bishound text-left">
                <h1>{{title}}</h1>
              </div>
              <div class="card-body">
                <table class="table table-hover commerce" [mfData]="Table" #mf="mfDataTable" [mfRowsOnPage]="8">
                  <tbody class="row">
                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 w-25 hover pointer" *ngFor="let data of mf.data"  [routerLink]="[url+'update/bis/', data.id+':2']">
                      <div class=" mb-2">
                        <img class="card-img-top pt-2 pr-2 pl-2" style="height:12.5rem;width:12.5rem;" src="{{((data.ImagenesBis!=null && data.ImagenesBis.length>0)?data.ImagenesBis[0].url:'http://placehold.it/1000X1000?text='+data.titulo)}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{((data.titulo!=null)?data.titulo:'')}}</h5>
                        </div>
                      </div>
                    </div>


                  </tbody>
                  <tfoot>
                  <tr>
                      <td colspan="3">
                          <mfBootstrapPaginator></mfBootstrapPaginator>
                      </td>
                  </tr>
                  </tfoot>
                </table>


              </div>
            </div>
      </div>
      <!-- Fin Main Home Page -->
    </div>

    <!-- Fin Home Windows -->
  </div>

  <!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
  <!-- Fin Notificaciones -->
