<div id="accordion" class="box-shadow-medium p-3 side-nav-bar">

  <div class="">
    <div class="border-bottom border-primary">
      <h5 class="mb-0 pl-0">
        <a class="btn btn-link ml-0 pl-0" 
          [ngClass]="{'c-rosa-bishound': setActiveClass(currenturl, 'benefits')}"
          [routerLink]="['/dashboard/tools/benefits']">Benefits</a>
      </h5>
    </div>
  </div>

  <div class="">
    <div class="border-bottom border-primary" >
      <h5 class="mb-0 pl-0">
          <a class="btn btn-link ml-0 pl-0" 
          [ngClass]="{'c-rosa-bishound': setActiveClass(currenturl, 'grow')}"
          [routerLink]="['/dashboard/tools/grow']">Tools</a>
      </h5>
    </div>
  </div>

</div>
