<div class="pr-5 pl-5 bg-bishound mt-5">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['./../../dashboard/home']" >Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['./../../dashboard/eventos']" >Eventos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['./../../dashboard/localidades']" >Localidades</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Home Windows -->
  <div class="row mt-3">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3">
      <div class="accordion" id="AcordionEditar">
        <div class="card">
          <div id="formEditar" class="collapse" aria-labelledby="headingOne" data-parent="#AcordionEditar">
            <div class="card-body">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3" *ngIf="SelectedData">
                <div class="accordion " id="AcordionLocalidades" *ngFor="let data of SelectedData.areas; let i = index">
                  <div class="card">
                    <div class="card-header pointer text-secondary" id="headingOne"  (click)="collapse('collapseOne22-'+((data.id)?data.id:''))">
                        <button class="btn btn-link text-left" type="button">
                            <h2 class="mb-0 ">{{data.titulo}} </h2>
                        </button>
                    </div>
                    <div id="collapseOne22-{{((data.id)?data.id:'')}}" class="collapse" aria-labelledby="headingOne" data-parent="#AcordionLocalidades">
                      <div class="card-body">
                        <div class="row mb-4 ml-5 mr-5">
                          <div class="d-md-flex flex-wrap gutter-sm pt-3 mb-3 w-100">
                            <div class="row text-dark w-100">
                              <div style="width: 20%;" *ngFor="let item of data.lugares; let i = index">
                                <div class="checkbox" [class.text-secondary]="item.vendido==1" [class.text-dark]="item.vendido==0 && item.selected==0" [class.text-primary]="item.selected==1">
                                  <label for="lugar{{item.id}}" class="pointer">
                                    <input class="d-none" type="checkbox" (change)="add(item)" id="lugar{{item.id}}" [checked]="item.vendido==1" [disabled]="item.vendido==1" name="lugar{{item.id}}" [(ngModel)]="item.selected">
                                    <i class="pointer fa " [class.fa-child]="item.selected==0" [class.fa-street-view]="item.selected==1" style="font-size: 18px;" ></i> {{item.titulo}}<i class="ml-2 fa " [class.fa-check]="item.selected==1" style="font-size: 18px;" ></i>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5">
      <div class="accordion " id="AcordionEventos" *ngFor="let data of Table; let i = index">
        <div class="card">
          <div class="card-header pointer text-secondary" id="headingOne"  (click)="ocultarForm();collapse('collapseOne-'+((data.id)?data.id:''))">

              <button class="btn btn-link text-left" type="button">
                  <h2 class="mb-0 ">{{data.titulo}} </h2>
              </button>

          </div>

          <div id="collapseOne-{{((data.id)?data.id:'')}}" class="collapse" aria-labelledby="headingOne" data-parent="#AcordionEventos">
            <div class="card-body">
              <div class="row mb-4 ml-5 mr-5">
                <div class="d-md-flex flex-wrap gutter-sm pt-3 mb-3">
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-3 service-card"
                        (click)="collapse('formEditar');collapse('collapseOne-'+((data.id)?data.id:''),item)"
                        style="cursor: pointer"
                        *ngFor="let item of data.funciones">
                    <div class="card mb-4 shadow-sm">
                      <img class="bd-placeholder-img card-img-top" width="100%" height="200" src="{{((item.imagen!=null && item.imagen!='')?item.imagen:'https://placehold.it/1000X1000?text=X')}}">

                      <div class="card-body">
                        <p class="card-text text-primary">
                            {{((item.titulo!=null)?item.titulo:'')}}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                          <small class="text-muted text-left">
                            Fecha: {{((item.fecha_inicio!=null)?item.fecha_inicio:'')}} <br>
                            Hora: {{((item.hora_inicio!=null)?item.hora_inicio:'')}}
                          </small>
                          <div class="btn-group ">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>



  </div>

<!-- Fin Home Windows -->
</div>

  <!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
  <!-- Fin Notificaciones -->
