<div class="pr-5 pl-5 bg-bishound">
  <nav class="navbar navbar-expand-lg navbar-bishound-prof ">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-bishound bg-bishound"   [routerLink]="['./../../dashboard/home']">Dashboard </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/selling/active-orders']" *ngIf="tipoUsuario>=2">Selling </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/buying/my-projects']">Buying </a>
      </li>
      <li class="nav-item">
        <a class="nav-link c-rosa-bishound"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/tools/benefits']" *ngIf="tipoUsuario>=2">Tools for Grow </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/buyers']">Contacts </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  tooltip="Comming Soon" placement="bottom" [routerLink]="['./']"  *ngIf="tipoUsuario>=2">Inbox </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active-bishound bg-bishound"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../settings']">Settings</a>
      </li>
    </ul>
    <div class="text-right" style="margin-left:auto;">
      <button type="button" class="btn c-rosa-bishound " style="background-color:#fafafa!important" tooltip="Comming Soon" placement="left" *ngIf="tipoUsuario>=2">Create your site</button>
      <button type="button" class="btn btn-primary" [routerLink]="['./../../create/bis']" *ngIf="tipoUsuario>=2">Create a Bis</button>
    </div>
  </nav>

  <!-- Home Windows -->

  <div class="row mt-3">
    <!-- Main Home Page -->
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div id="accordion" class="box-shadow-medium p-3">

        <div class="">
          <div class="border-bottom border-primary">
            <h5 class="mb-0 pl-0">
              <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../settings/profile']">Profile</a>
            </h5>
          </div>
        </div>

        <div class="">
          <div class="border-bottom border-primary">
            <h5 class="mb-0 pl-0">
              <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" tooltip="Comming Soon" placement="right" [routerLink]="['./']" >Skills</a>
            </h5>
          </div>
        </div>

        <div class="">
          <div class="border-bottom border-primary">
            <h5 class="mb-0 pl-0">
              <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../profile/verified']">Trust and Verification</a>
            </h5>
          </div>
        </div>

        <div class="">
          <div class="border-bottom border-primary">
            <h5 class="mb-0 pl-0">
              <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" tooltip="Comming Soon" placement="right" [routerLink]="['./']" >References</a>
            </h5>
          </div>
        </div>



      </div>
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 offset-xl-1">
        <div class="text-center w-100 mb-3">
          <div class="c-azul-bishound text-left">
            <h2>Your Verified Info</h2>
          </div>

          <div class="card-body">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border border-solid mb-5">

                  </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mb-5 text-left c-azul-bishound">
                <h2>Email Address</h2>
              </div>
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left c-bishound">
               <span>We will send an email to your email: login_email@email_client.com A confirmed email is important to allow us to securely communicate with you and to communicate with your customers
               </span>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                <a data-toggle="modal" data-target="#emailAddress" href="./">Verify Email Address</a>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border border-solid mb-4 mt-4">

              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mb-5 text-left c-azul-bishound">
                <h2>Phone Number</h2>
              </div>
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left c-bishound">
               <span>We will send a message to your phone number: #########, you will enter the code that will sent to you
               </span>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                <a data-toggle="modal" data-target="#verifyNumber" href="./">Verify Phone Number</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border border-solid mb-4 mt-4">

                </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mb-5 text-left c-azul-bishound">
                <h2>Goberment ID</h2>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left c-bishound">
                <a [routerLink]="['./../../profile/government']">Upload Goverment ID</a>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left c-bishound">
                <a [routerLink]="['./../../profile/government']">Update Goverment ID</a>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 offset-md-4 text-left">
                <a [routerLink]="['./../../profile/government']">See Goverment ID</a>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left c-bishound">
                <a [routerLink]="['./../../profile/government']">Delete Goverment ID</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border border-solid mb-4 mt-4">

                </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mb-5 text-left c-azul-bishound">
                <h2>Commercial Patent</h2>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left c-bishound">
                <a [routerLink]="['./../../profile/government']">Upload Commercial Patent</a>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left c-bishound">
                <a [routerLink]="['./../../profile/government']">Update Commercial Patent</a>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 offset-md-4 text-left">
                <a [routerLink]="['./../../profile/government']">See Commercial Patent</a>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left c-bishound">
                <a [routerLink]="['./../../profile/government']">Delete Commercial Patent</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border border-solid mb-4 mt-4">

                </div>
            </div>

          </div>
        </div>



    </div>
    <!-- Fin Main Home Page -->
  </div>

  <!-- Fin Home Windows -->
</div>


<div class="modal fade" id="verifyNumber" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>


<div class="modal fade" id="emailAddress" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
