<div class="pr-5 pl-5 bg-bishound">
    <app-dashboard-nav-bar></app-dashboard-nav-bar>

    <!-- Home Windows -->

    <div class="row">
      <!-- Main Home Page -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h1 class="c-azul-bishound mt-5" style="font-size:5rem;"> It's gonna be legend ...</h1>
        <h2 class="c-rosa-bishound mb-5" style="font-size:4rem;"> Wait for It <span class="loading22"></span></h2>
      </div>
      <!-- Fin Main Home Page -->
    </div>

    <!-- Fin Home Windows -->
  </div>
