/*
    @hiercelik - hiercelik.net
    @koalapix - koalapix.com
*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web&subset=latin,latin-ext);
@media (min-width: 268px) {
    .kpx_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}
body {
    font-family: 'Titillium Web', sans-serif;
}
.c-celeste-bishound:hover{
  color: #ffffff!important;
}
.btn-primary:hover{
  background-color: #ffffff!important;
  color: #0000ff!important;
}
.c-bishound-hover-outline-primary{
  color: #0000ff!important;
}
.c-bishound-hover-primary{
  color: #ffffff!important;
}
.c-bishound-hover-outline-primary:hover{
  background-color: #0000ff!important;
  color: #ffffff!important;
}
.c-bishound-hover-primary:hover{
  background-color: #ffffff!important;
  color: #0000ff!important;
}
