.scrolling{
  overflow-x: auto;
  width: 100%;
}
.categorys{
  height: 50px;
  border: solid #000 1px;
}
.card-block {
  min-height: 220px;
}
.scrolling{
  overflow-x: auto;
}
.scrolling{
  overflow-x: auto;
  width: 100%;
}
.estrella-bis{
  position: absolute;
  margin-top: 0.3rem!important;
  margin-left: 0.3rem!important;
}
.categorys{
  height: 50px;
  border: solid #000 1px;
}
.rate {
  height: 50px;
  width: 100%;
}
.rateMini {
  height: 50px;
  width: 100%;
}
.rateMini {
  height: 50px;
  width: 100%;
}
.rateMini{
  position: absolute!important;
  margin-left:0.5rem!important;
}

.rateMini label{
  font-size: 1.5rem!important;
  margin-right: 0.3rem!important;

}
.rate p {
  text-align: left;
}

.rateMini p {
  text-align: left;
}

.rateMini label{
  font-size: 1rem!important;
  margin-right: 0.2rem!important;

}
.rate p {
  text-align: left;
}

.rateMini p {
  text-align: left;
}

.rate label {
  font-size: 1.3rem;
  margin-right: 0.2rem;
}

input[type="radio"] {
  display: none;
}

.rate label {
  color: #a7acb1;
}
@media only screen and (max-width: 1300px) {

  .rate label {
    font-size: 100%!important;
      margin-right: 0.3rem!important;
  }
}
.rateMini label {
  color: #a7acb1;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.btn-bishound:hover{
  background-color: #0000ff!important;
  color: #f8f9fa!important;
  cursor: pointer;
}
.btn-bishound-active:hover{
  background-color: #f8f9fa!important;
  color: #0000ff!important;
  cursor: pointer;
}
/*


input[type="radio"]:checked ~ label {
  color: #0000ff;
}
.valoracionRanking:checked ~ label {
  color: #0000ff;
} */


.checkStar ~ label{
  color: #0000ff;
}


.calificacionResultado{
  position: absolute;
  z-index: 3;
  margin-left: 5%;
  font-size: 0.5rem !important;

}


.vertical-scroll{
  height: 200px;
  overflow-y: auto;
}
.created-date{
  font-size: 0.8rem;
  vertical-align: top;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 5%;
  text-align: center;
  color: #6c757d;
}
.vertical-scroll-comments{
  height: 40%;
  overflow-y: auto;
}
.social-media{
  padding-top: 3%;
  text-align: center;
  margin-bottom: 3%;
}

.social-media a{
  font-size: 1.5rem;
  margin-right: 1rem;
  color: black;
}
.social-media a:hover{
  color: rgb(60, 58, 68);
}
.border-buttom{
  border-bottom: solid 1px #fff;
  color: #fff;
}
