.cc-selector input{
  position: absolute;
    bottom: 50%;
    left: 25%;

}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
  -webkit-filter: brightness(0.5) grayscale(.5) opacity(.9);
     -moz-filter: brightness(0.5) grayscale(.5) opacity(.9);
          filter: brightness(0.5) grayscale(.5) opacity(.9);
}
.brillo{
  -webkit-filter: none !important;
     -moz-filter: none !important;
          filter: none !important;
          opacity: 1!important;
}

.drinkcard-cc{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  /* display:inline-block; */
  /* width:100px;height:70px; */
  -webkit-transition: all 100ms ease-in;
     -moz-transition: all 100ms ease-in;
          transition: all 100ms ease-in;
  -webkit-filter: brightness(1) grayscale(1) opacity(1);
     -moz-filter: brightness(1) grayscale(1) opacity(1);
          filter: brightness(1) grayscale(1) opacity(1);
}
.drinkcard-cc:hover{
  -webkit-filter: brightness(0.5) grayscale(.5) opacity(.9);
     -moz-filter: brightness(0.5) grayscale(.5) opacity(.9);
          filter: brightness(0.5) grayscale(.5) opacity(.9);
}
.card-selected ~ label{
  -webkit-filter: brightness(0.5) grayscale(.5) opacity(.9);
     -moz-filter: brightness(0.5) grayscale(.5) opacity(.9);
          filter: brightness(0.5) grayscale(.5) opacity(.9);
}
/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}

.tituloFrame{
   padding-bottom: 20px;
   border-bottom: solid rgb(61, 136, 223);
}
.d-absolute{
  position: absolute;
  margin-top: 0.25rem;
}
.fileUpload {
  position: relative;
  overflow: hidden;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.upload-file .form-control {
      width: auto;
      display: inherit;
}

.fileinput{
  width: 100%;
  height: 10rem;
  margin-top: 25%;
}
