<!-- wizzard 1 -->
<div id="allUP"></div>
<div class="pr-5 pl-5 mt-5 mb-5" *ngIf="vista==1">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    How would you like to start?

    </div>
    <div class="cc-selector col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <input id="bis" type="radio" name="project_type" value="2" [(ngModel)]="Bis.tipoBisId"  [class.card-selected]="Bis.tipoBisId==2" [ngModelOptions]="{standalone: true}" required/>
        <label class="drinkcard-cc row" for="bis">
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right brillo">
            <img src="http://placehold.it/150X150?text=X" alt="" border="0" width="auto" height="100%" style="max-height: 100%;">
          </div>
          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left pt-5">
            <h3>Create a New Bis</h3>
          </div>
        </label>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <input id="servicio" type="radio" name="project_type" value="1" [(ngModel)]="Bis.tipoBisId" [class.card-selected]="Bis.tipoBisId==1"  [ngModelOptions]="{standalone: true}" required/>
          <label class="drinkcard-cc row" for="servicio">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
              <img src="http://placehold.it/150X150?text=X" alt="" border="0" width="auto" height="100%" style="max-height: 100%;">
            </div>
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left pt-5">
              <h3>Add New Product</h3>
            </div>
          </label>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
        <button type="button" class="btn btn-outline-primary" [routerLink]="['./../dashboard/bis/active']">CANCEL</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
        <button type="button" class="btn btn-primary" (click)="insert({pagina:vista+1});vista=vista+1">SAVE AND CONTINUE</button>
      </div>
    </div>

  </div>

</div>
<!-- Fin wizzard 1 -->
<!-- wizzard 2 -->
<div class="pr-5 pl-5 mb-5" *ngIf="vista==2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(2)">Overview</a></li>
      <li class="breadcrumb-item">Pricing</li>
      <li class="breadcrumb-item">Description & FAQ</li>
      <li class="breadcrumb-item">Requirements</li>
      <li class="breadcrumb-item">Gallery</li>
      <li class="breadcrumb-item">Publish</li>
    <li class="btn btn-primary ml-auto" (click)="Bis.publicado=1;update({pagina:7,inicial:false,fin:true});">Save and Publish</li>
    </ol>

  </nav>

  <div class="row px-5 mb-5">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2  text-left mb-4">
      <span><h4>BIS Title</h4></span>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 text-left mb-4">
      <textarea name="titulo" id="titulo" placeholder="Bis Title" class="form-control" rows="8" required="required" ngModel #titulo="ngModel" [(ngModel)]="Bis.titulo"  [ngModelOptions]="{standalone: true}"></textarea>
      <div class="text-right"><small>80 Characters max</small></div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2  text-left mb-4">
      <span><h4>Category</h4></span>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left mb-4">
      <select name="categoriaId" id="categoriaId" class="form-control" ngModel #categoriaId="ngModel" [(ngModel)]="Bis.categoriaId"  [ngModelOptions]="{standalone: true}" (change)="cargarSubCategorias()" required="required">
        <option value="null" disabled>Select One</option>
        <option *ngFor="let data of categorias" value="{{data.id}}">{{data.descripcion?data.descripcion:''}}</option>
      </select>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2  text-left mb-4">
      <span><h4>Sub Category</h4></span>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left mb-4">
      <select name="subCategoriaId" id="subCategoriaId" class="form-control" ngModel #subCategoriaId="ngModel" [(ngModel)]="Bis.subCategoriaId"  [ngModelOptions]="{standalone: true}">
        <option value="null" disabled>Select One</option>
        <option *ngFor="let data of subCategorias" value="{{data.id}}">{{data.descripcion?data.descripcion:''}}</option>
      </select>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2  text-left mb-4">
      <span><h4>Search Tag</h4></span>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 text-left mb-4">
      <textarea name="tags" id="tags" class="form-control" rows="4" required="required" ngModel #tags="ngModel" [(ngModel)]="Bis.tags"  [ngModelOptions]="{standalone: true}" required="required"></textarea>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
      <button type="button" *ngIf="!isBis" class="btn btn-outline-primary" [routerLink]="['./../dashboard/bis/active']">CANCEL</button>
      <button type="button" *ngIf="isBis" class="btn btn-outline-primary" [routerLink]="['./../../../dashboard/bis/active']">CANCEL</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
      <button type="button" *ngIf="!isBis" class="btn btn-outline-secondary" (click)="cambiarPage(vista-1);">BACK</button>
      <button type="button" *ngIf="!isBis" class="btn btn-primary" (click)="update({pagina:vista+1,inicial:true});vista=vista">SAVE AND CONTINUE</button>
      <button type="button" *ngIf="isBis" class="btn btn-primary" (click)="update({pagina:vista+1,inicial:false});vista=vista+1">SAVE AND CONTINUE</button>
    </div>
  </div>
</div>
<!-- Fin wizzard 2 -->

<!-- wizzard 3 -->
<div class="pr-5 pl-5 mb-5" *ngIf="vista==3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(2)">Overview</a></li>
      <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(3)">Pricing</a></li>
      <li class="breadcrumb-item">Description & FAQ</li>
      <li class="breadcrumb-item">Requirements</li>
      <li class="breadcrumb-item">Gallery</li>
      <li class="breadcrumb-item">Publish</li>
    <li class="btn btn-primary ml-auto" (click)="Bis.publicado=1;update({pagina:7,inicial:false,fin:true});">Save and Publish</li>
    </ol>

  </nav>

  <div class="row px-5 mb-5">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-left mb-4">
      <h4>Type of Price for your BIS</h4>
    </div>

    <div class="radio col-xs-4 col-sm-4 col-md-4 col-lg-4  text-left mb-4">
      <input type="radio" class="d-absolute" name="price" [value]="1" [(ngModel)]="Bis.tipoCobro"  [ngModelOptions]="{standalone: true}" >
      <label class="pl-3" for="input">
        <span><h5>Fixed Price</h5></span>
      </label>
    </div>
    <div class="radio col-xs-8 col-sm-8 col-md-8 col-lg-8  text-left mb-4">
      <input type="radio" class="d-absolute" name="price" [value]="2" [(ngModel)]="Bis.tipoCobro"  [ngModelOptions]="{standalone: true}">
      <label class="pl-3" for="input1">
        <span><h5>Hourly Rate</h5></span>
      </label>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon">$</div>
        </div>
        <input type="number" min="0" class="form-control"  ngModel #precio="ngModel" [(ngModel)]="Bis.precio"  [ngModelOptions]="{standalone: true}" required="required">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4">
      <span><h3>(+) Rush Delivery Fee</h3></span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon">$</div>
        </div>
        <input type="number" class="form-control"  ngModel #precioEntregaUrgente="ngModel" [(ngModel)]="Bis.precioEntregaUrgente"  [ngModelOptions]="{standalone: true}">
      </div>
    </div>

  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
      <button type="button" class="btn btn-outline-primary" [routerLink]="['./../../../dashboard/bis/active']">CANCEL</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
      <button type="button" class="btn btn-outline-secondary" (click)="cambiarPage(vista-1);">BACK</button>
      <button type="button" class="btn btn-primary" (click)="update({pagina:vista+1,inicial:false});vista=vista+1">SAVE AND CONTINUE</button>
    </div>
  </div>
</div>
<!-- Fin wizzard 3 -->


<!-- wizzard 5 -->
<div class="pr-5 pl-5 mb-5" *ngIf="vista==5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(2)">Overview</a></li>
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(3)">Pricing</a></li>
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(4)">Description & FAQ</a></li>
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(5)">Requirements</a></li>
        <li class="breadcrumb-item">Gallery</li>
        <li class="breadcrumb-item">Publish</li>
      <li class="btn btn-primary ml-auto" (click)="Bis.publicado=1;update({pagina:7,inicial:false,fin:true});">Save and Publish</li>
      </ol>

    </nav>

    <div class="row px-5 mb-5">
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9  text-left mb-4">
        <h4>Tell your buyer What you need to get started.</h4>
        <small>Structure your Buyer Instructions, provide all the main requirements to start the project</small>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2  text-right mb-4">
        <a class="pointer c-rosa-bishound" (click)="addReq=!addReq">+ Add Requirement</a>
      </div>

      <!-- Formulario -->
      <form class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="addReq" autocomplete="off" id="create-bis-REQ" #createBisReq="ngForm" (ngSubmit)="createREQ(createBisReq.value)">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4">
          <label class="c-azul-bishound" for="descripcionREQ">Request Rescription</label>
          <textarea name="descripcionREQ" id="descripcionREQ" class="form-control" rows="8"  ngModel #descripcionREQ="ngModel"></textarea>
          <div class="text-right"><small>80 Characters max</small></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right mb-4">
            <button type="button" class="btn btn-secondary" (click)="addReq=!addReq">CANCEL</button>
            <button type="submit" class="btn btn-primary">SAVE</button>
        </div>
      </form>
      <!-- Fin Formulario -->
      <!-- Requirement -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mt-4" *ngIf="comboREQS && comboREQS.length>0">
          <!-- <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div> -->
        <select class="form-control">
          <option *ngFor="let data of comboREQS" value="{{data.id}">{{data.descripcion?data.descripcion:''}}</option>
        </select>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mt-4" *ngIf="comboREQS && comboREQS.length==0">

        <div class="alert alert-info">
          Your have not Requirement added
        </div>

      </div>

      <!-- Fin Requirement -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
        <button type="button" class="btn btn-outline-primary" [routerLink]="['./../../../dashboard/bis/active']">CANCEL</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
        <button type="button" class="btn btn-outline-secondary" (click)="cambiarPage(vista-1);">BACK</button>
        <button type="button" class="btn btn-primary" (click)="update({pagina:vista+1,inicial:false});vista=vista+1">SAVE AND CONTINUE</button>
      </div>
    </div>
  </div>

<!-- Fin wizzard 5 -->


<!-- wizzard 6 -->
<div class="pr-5 pl-5 mb-5" *ngIf="vista==6">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(2)">Overview</a></li>
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(3)">Pricing</a></li>
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(4)">Description & FAQ</a></li>
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(5)">Requirements</a></li>
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(6)">Gallery</a></li>
        <li class="breadcrumb-item">Publish</li>
      <li class="btn btn-primary ml-auto" (click)="Bis.publicado=1;update({pagina:7,inicial:false,fin:true});">Save and Publish</li>
      </ol>

    </nav>

    <div class="row px-5 mb-5">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-left mb-4">
        <h4>Build Your Bis Gallery</h4>
        <small>Add memorable content to your gallery to set yourself apart from competitors.</small>
      </div>
      <!-- Fotos -->
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-left mb-4">
        <span>
          <h4>Bis Photos</h4>
        </span>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left mb-4">
        <span>
          <h5>Upload photos that describe or are related to your BIS</h5>
        </span>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right mb-4">
        <span>(0/3)</span>
      </div>

      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
        <div class="form-group col-xs-6 col-xs-offset-3" *ngIf="Bis.ImagenesBis && Bis.ImagenesBis.length<3">
              <input type="file" class="fileinput" accept="image/*" id="BisUpdate" (change)="uploadIMG($event)">
              <div class="progress d-none">
                <div class="progress-bar bg-info" id="barra_de_progreso" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
        </div>
      </div>

      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 row" *ngIf="Bis.ImagenesBis && Bis.ImagenesBis.length<=0">
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 row" *ngIf="Bis.ImagenesBis && Bis.ImagenesBis.length>0">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center" *ngFor="let data of Bis.ImagenesBis">
          <a (click)="deleteIMG(data.id)" class="pointer" style="position: absolute;right: 2rem;margin-top: 1rem;color: #ff00ff;font-size: 2rem;z-index: 3;">
            <i class="fa fa-trash"></i>
          </a>
          <img src="{{data.url?data.url:'http://placehold.it/500x500?text=X'}}" alt="" style="width:100%;">
        </div>
      </div>

      <!-- Fin Fotos -->

      <!-- PDFS -->
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-left my-4">
          <span>
            <h4>Bis PDFs</h4>
          </span>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left my-4">
          <span>
            <h5>We only recommend adding a PDF file if it fruther clarifies the service you will be providing</h5>
          </span>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right my-4">
          <span>(0/2)</span>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
          <div class="form-group col-xs-6 col-xs-offset-3" *ngIf="Bis.ArchivosBis && Bis.ArchivosBis.length<2">
                <input type="file" class="fileinput" accept="application/msword, application/vnd.ms-excel, text/plain, application/pdf" id="BisFileUpdate" (change)="uploadFILE($event)">
                <div class="progress d-none">
                  <div class="progress-bar bg-info" id="barra_de_progresoFILE" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
          </div>
        </div>

        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 row" *ngIf="Bis.ArchivosBis && Bis.ArchivosBis.length<=0">
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 row" *ngIf="Bis.ArchivosBis && Bis.ArchivosBis.length>0">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center" *ngFor="let data of Bis.ArchivosBis">
            <a (click)="deleteFILE(data.id)" class="pointer" style="position: absolute;right: 2rem;margin-top: 1rem;color: #ff00ff;font-size: 2rem;z-index: 3;">
              <i class="fa fa-trash"></i>
            </a>
            <a href="{{data.url?data.url:'http://static.wixstatic.com/media/e4443c_ed6c1c8dd9a74e53aefa3bf669e0d955.png'}}" target="_blank">
            <img src="{{data.url?'./../../../../assets/png/Iconos/doc-file.png':'http://placehold.it/500x500?text=X'}}" alt="" style="width:100%;"></a>
          </div>
        </div>

        <!-- Fin PDFS -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
        <button type="button" class="btn btn-outline-primary" [routerLink]="['./../../../dashboard/bis/active']">CANCEL</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
        <button type="button" class="btn btn-outline-secondary" (click)="cambiarPage(vista-1);">BACK</button>
        <button type="button" class="btn btn-primary" (click)="update({pagina:vista+1,inicial:false});">SAVE AND CONTINUE</button>
      </div>
    </div>
  </div>
  <!-- Fin wizzard 6 -->


<!-- wizzard 4 -->
<div class="pr-5 pl-5 mb-5" *ngIf="vista==4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(2)">Overview</a></li>
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(3)">Pricing</a></li>
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(4)">Description & FAQ</a></li>
        <li class="breadcrumb-item">Requirements</li>
        <li class="breadcrumb-item">Gallery</li>
        <li class="breadcrumb-item">Publish</li>
      <li class="btn btn-primary ml-auto" (click)="Bis.publicado=1;update({pagina:7,inicial:false,fin:true});">Save and Publish</li>
      </ol>

    </nav>

    <div class="row px-5 mb-5">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4">
        <h4>Description</h4>
        <small>Briefly Describe your BIS</small>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4">
          <textarea name="descripcion" id="descripcio" class="form-control" rows="8" required="required" ngModel #descripcion="ngModel" [(ngModel)]="Bis.descripcion"  [ngModelOptions]="{standalone: true}"></textarea>
          <div class="text-right"><small>80 Characters max</small></div>
      </div>

      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9  text-left mb-4">
        <h4>Frequently Asked Questions for your Customers</h4>
        <small>Add Questins & Answers for your buyers</small>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2  text-right mb-4">
        <a class="pointer c-rosa-bishound" (click)="addFAQ=!addFAQ">+ Add FAQS</a>
      </div>

      <!-- Formulario -->
      <form class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="addFAQ" autocomplete="off" id="create-bis" #createBis="ngForm" (ngSubmit)="createFAQ(createBis.value)">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4">
          <label class="c-azul-bishound" for="nombreFAQ">Frequently Asked Questions for your Customers</label>
          <input name="nombreFAQ" id="nombreFAQ" class="form-control" type="text" ngModel #nombreFAQ="ngModel">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4">
          <label class="c-azul-bishound" for="respuestaFAQ">Answers</label>
          <textarea name="respuestaFAQ" id="respuestaFAQ" class="form-control" rows="8"  ngModel #respuestaFAQ="ngModel"></textarea>
          <div class="text-right"><small>80 Characters max</small></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right mb-4">
            <button type="button" class="btn btn-outline-primary" (click)="addFAQ=!addFAQ">CANCEL</button>
            <button type="submit" class="btn btn-primary">SAVE</button>
        </div>
      </form>
      <!-- Fin Formulario -->
      <!-- Requirement -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mt-4" *ngIf="comboFAQS && comboFAQS.length>0">
        <select class="form-control">
          <option *ngFor="let data of comboFAQS" value="{{data.id}">{{data.titulo?data.titulo:''}}</option>
        </select>
      </div>
      <!-- Fin Requirement -->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mt-4" *ngIf="comboFAQS && comboFAQS.length==0">

      <div class="alert alert-info">
        Your have not FAQS added
      </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
          <button type="button" class="btn btn-outline-primary" [routerLink]="['./../../../dashboard/bis/active']">CANCEL</button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
          <button type="button" class="btn btn-outline-secondary" (click)="cambiarPage(vista-1);">BACK</button>
          <button type="button" class="btn btn-primary" (click)="update({pagina:vista+1,inicial:false});vista=vista+1">SAVE AND CONTINUE</button>
        </div>
      </div>
  </div>
  <!-- Fin wizzard 4 -->



<!-- wizzard 7 -->
<div class="pr-5 pl-5 mb-5" *ngIf="vista==7">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(2)">Overview</a></li>
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(3)">Pricing</a></li>
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(4)">Description & FAQ</a></li>
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(5)">Requirements</a></li>
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(6)">Gallery</a></li>
        <li class="breadcrumb-item"><a class="c-rosa-bishound pointer" (click)="cambiarPage(7)">Publish</a></li>
    <li class="btn btn-primary ml-auto" (click)="Bis.publicado=1;update({pagina:7,inicial:false,fin:true});">Save and Publish</li>
      </ol>

  </nav>

  <div class="row px-5 mb-5">
    <!-- Formulario -->
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 offset-xl-2 text-left row mb-4 p-5">
      <div class="w-100 border border-secondary mb-3">
          <h3 class="w-100 text-center pt-5 pl-5 pr-5">Almost There...</h3>
          <h5 class="w-100 text-center pb-5 pl-5 pr-5">Let's publish your BIS and get some buyers rolling in.</h5>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
            <button type="button" class="btn btn-outline-secondary" (click)="cambiarPage(vista-1);">BACK</button>
            <button type="button" class="btn btn-primary" (click)="Bis.publicado=0;update({pagina:vista+1,inicial:false,fin:true});">SAVE AND PREVIEW</button>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
            <button type="button" class="btn btn-outline-primary" (click)="Bis.publicado=1;update({pagina:vista+1,inicial:false,fin:true});">PUBLISH</button>
          </div>
        </div>
    </div>
    <!-- Fin Formulario -->
  </div>

</div>
<!-- Fin wizzard 7 -->

<!-- Inicio Notificaciones -->
<simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->

