
<div class="  container" [class.pt-5]="!isModal" [class.mt-5]="!isModal">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3 text-center pt-3">
        <form class="form-signin" autocomplete="off" id="login-form"  #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
            <img class="mb-4" src="./../../../assets/png/fondos/TICKE3-8.png" alt="" width="75" height="50">
            <h1 class="h3 mb-3 font-weight-normal">Ingreso</h1>
            <div class="input-group mb-1">
              <input type="text" class="form-control" name="username" required
              ngModel #username="ngModel" placeholder="Usuario">
            </div>

            <div class="input-group mb-3">
              <input type="password" class="form-control" name="password" required
              ngModel #password="ngModel" placeholder="Password">
            </div>
            <!-- Remember me and forgot pass area -->
            <div class="mb-3 row">
              <div class="ml-3 col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xl-3 form-group form-check ">
                  <a class="c-celeste-bishound" [routerLink]="['./../register']">Registrate</a>
              </div>
              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                  <a class="c-celeste-bishound" [routerLink]="['./../recovery']">Olvidaste tu contraseña?</a>
              </div>
            </div>
            <!-- Fin Remember me and forgot pass area -->
            <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-sign-in"></i> Ingresar</button>

            <div class="row mt-5">

              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a class="btn btn-block btn-social btn-facebook bg-facebook text-light"  (click)="socialSignIn('facebook')" >
                  <span class="fa fa-facebook"></span>
                  Ingresar con Facebook
                </a>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a class="btn btn-block btn-social btn-google bg-danger text-light"  (click)="socialSignIn('google')" >
                  <span class="fa fa-google"></span>
                  Ingresar con Google
                </a>
              </div>

            </div>




          </form>

    </div>
  </div>

</div>

<!-- Inicio Notificaciones -->
<simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->

