<nav class="navbar navbar-expand-lg navbar-bishound-prof ">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active-bishound bg-bishound" [routerLink]="[ '/dashboard/home' ]">Dashboard </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active-bishound bg-bishound"
         [ngClass]="{
           'active-bishound bg-bishound': setActiveClass(currenturl, 'selling')
          }"
      [routerLink]="['/dashboard/selling/active-orders']" *ngIf="tipoUsuario>=2">Selling </a>
    </li>

    <li class="nav-item">
      <a class="nav-link "  routerLinkActive="active-bishound bg-bishound"
        [ngClass]="{'active-bishound bg-bishound': setActiveClass(currenturl, 'buying')}"
         [routerLink]="['/dashboard/buying/my-projects']">Buying </a>
    </li>

    <li class="nav-item">
      <a class="nav-link c-rosa-bishound" routerLinkActive="active-bishound bg-bishound"
      [ngClass]="{'active-bishound bg-bishound': setActiveClass(currenturl, 'tools')}"
      [routerLink]="['/dashboard/tools/benefits']" *ngIf="tipoUsuario>=2">Tools for Grow </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['/dashboard/buyers']">Contacts </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" tooltip="Comming Soon" placement="bottom" [routerLink]="['./']" *ngIf="tipoUsuario>=2">Inbox </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['/settings/profile']">Settings</a>
    </li>

  </ul>
  <div class="text-right" style="margin-left:auto;">
    <button type="button" class="btn c-rosa-bishound " style="background-color:#fafafa!important" tooltip="Comming Soon" placement="left" *ngIf="tipoUsuario>=2">Create your site</button>
    <button type="button" class="btn btn-primary" [routerLink]="['/create/bis']" *ngIf="tipoUsuario>=2">Create a Bis</button>
  </div>
</nav>
