<div class="container mt-3">
    <div class="row">
      <!-- Columna con Bis -->
        <!-- Cuadro de Titulo -->
        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12  c-azul-bishound text-center">
          <h1 class="mb-5">Reference · <span class="c-celeste-bishound"> Seller’s Name</span></h1>
        </div>
        <!-- Fin Cuadro de Titulo -->
        <!-- Slider de fotos de Bis -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-left mb-4">
          <span class="c-azul-bishound"><h4>Review</h4></span>
          <small>Provide a review for your seller, doesn’t matter if is good or bad, this will help each other to improve.</small>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4">
          <textarea name="" id="" class="form-control bishound-input" rows="8" required="required"></textarea>
          <div class="text-right c-celeste-bishound"><small>Left 1500 charactres</small></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-left mb-4">
          <span class="c-azul-bishound"><h4>RATE YOUR SERVICE</h4></span>
          <small>Below you will find the main topics we need to get your rate</small>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8  text-left mb-4 row">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 c-azul-bishound">
            <h1>Aditional Info</h1>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-5 mb-5">
              <label for="input" class="c-azul-bishound d-4">
                FULL NAME AND POSITION
              </label>
                <input type="text" name="" id="input" class="form-control bishound-input" value="" required="required" pattern="" title="">

          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pl-5 mb-5">
              <label for="input" class="c-azul-bishound d-4">
                SINCE YOU MET THE SELLER?
              </label>
                <input type="date" name="" id="input" class="form-control bishound-input" value="" required="required" pattern="" title="">

          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pl-5 mb-5">
              <label for="input" class="c-azul-bishound d-4">
                PHONE NUMBER
              </label>
                <input type="number" name="" id="input" class="form-control bishound-input" value="" required="required" pattern="" title="">

          </div>



        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  text-left mb-4">
          <span class="c-azul-bishound"><h4>REFERENCE PICTURE</h4></span>

          <input type="file" class="form-control bishound-input" value="" required="required" pattern="" title="">

        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 offset-md-1  mt-5 text-center">
          <button type="button" class="btn btn-primary btn-lg btn-block p-3">Submit Your Review</button>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center mt-5">
          <button type="button" class="btn btn-outline-primary btn-lg btn-block p-3">Cancel Your Review</button>
        </div>




  </div>


