<div class="pr-5 pl-5 bg-bishound">
    <nav class="navbar navbar-expand-lg navbar-bishound-prof ">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active-bishound bg-bishound"   [routerLink]="['./../../dashboard/home']">Dashboard </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/selling/active-orders']" *ngIf="tipoUsuario>=2">Selling </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/buying/my-projects']">Buying </a>
          </li>
          <li class="nav-item">
            <a class="nav-link c-rosa-bishound"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/tools/benefits']" *ngIf="tipoUsuario>=2">Tools for Grow </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../../dashboard/buyers']">Contacts </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  tooltip="Comming Soon" placement="bottom" [routerLink]="['./']"  *ngIf="tipoUsuario>=2">Inbox </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active-bishound bg-bishound"  routerLinkActive="active-bishound bg-bishound"  [routerLink]="['./../settings']">Settings</a>
          </li>
        </ul>
        <div class="text-right" style="margin-left:auto;">
          <button type="button" class="btn c-rosa-bishound " style="background-color:#fafafa!important" [routerLink]="['./../create/landing']" *ngIf="tipoUsuario>=2">Create your site</button>
          <button type="button" class="btn btn-primary" [routerLink]="['./../create/bis']" *ngIf="tipoUsuario>=2">Create a Bis</button>
        </div>
      </nav>

    <!-- Home Windows -->

    <div class="row mt-3">
      <!-- Main Home Page -->

      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <div id="accordion" class="box-shadow-medium p-3">

            <div class="">
              <div class="border-bottom border-primary">
                <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../settings/profile']">Profile</a>
                </h5>
              </div>
            </div>

            <div class=""*ngIf="tipoUsuario>=2">
              <div class="border-bottom border-primary">
                <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" tooltip="Comming Soon" placement="right" [routerLink]="['./']" >Skills</a>
                </h5>
              </div>
            </div>

            <div class=""*ngIf="tipoUsuario>=2">
              <div class="border-bottom border-primary">
                <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" routerLinkActive="c-rosa-bishound"  [routerLink]="['./../../profile/verified']">Trust and Verification</a>
                </h5>
              </div>
            </div>

            <div class=""*ngIf="tipoUsuario>=2">
              <div class="border-bottom border-primary">
                <h5 class="mb-0 pl-0">
                  <a class="btn btn-link ml-0 pl-0 ml-0 pl-0" tooltip="Comming Soon" placement="right" [routerLink]="['./']" >References</a>
                </h5>
              </div>
            </div>



          </div>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 offset-xl-1">
            <div class="text-center w-100 mb-3">

              <div class="c-azul-bishound text-left row">
                <h2 class="col-xs-8 col-sm-8 col-md-8 col-lg-8">Chose your Paid Method</h2>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                  <button type="button" class="btn btn-outline-primary form-control" (click)="goBack()">Cancelar</button>

                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mt-3 mb-5 pt-4 c-bishound">
                    <div class="checkbox mt-5">
                        <label for="selectedCheck_creditCard" class="selectedCheck">
                          <i class="fa fa-check-square d-inline" [class.c-celeste-bishound]="Cardselected==1" style="font-size:2rem;"></i> <h2 class="d-inline ml-3">Debit/Credit Card</h2>
                          <br><small class="ml-5">(Comming Soon)</small>
                        </label>
                        <input id="selectedCheck_creditCard" class="selectedCheck d-none" type="radio" name="paidMethod" [(ngModel)]="Cardselected" value="1" disabled>
                      </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mt-3 mb-5 pt-4 c-bishound">
                    <div class="checkbox mt-5">
                        <label for="selectedCheck_BisCard" class="selectedCheck">
                          <i class="fa fa-check-square d-inline" [class.c-celeste-bishound]="Cardselected==2" style="font-size:2rem;"></i> <h2 class="d-inline ml-3">Bis Card</h2>
                        </label>
                        <input id="selectedCheck_BisCard" class="selectedCheck d-none" type="radio" name="paidMethod" [(ngModel)]="Cardselected" value="2">
                      </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border border-solid mb-4">

                  </div>

                </div>
                <!-- inicio credit cart -->
                <div class="card-body row" *ngIf="Cardselected==1">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                    <h2>Add Credit card or Debit  Card</h2>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4">
                      <div class="pt-3 pb-3">
                        <i class="fa fa-cc-visa paid-card-method"></i> <i class="fa fa-cc-mastercard paid-card-method"></i>
                      </div>
                      <label for="input" class=" control-label c-azul-bishound ">NAME IN CREDIT/DEBIT CARD</label>
                      <input type="text" name="" id="input" class="form-control bishound-input" >

                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4">
                      <label for="input" class=" control-label c-azul-bishound ">CARD NUMBER</label>
                      <input type="text" name="" id="input" class="form-control bishound-input" >

                  </div>



                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4">
                      <label for="input" class=" control-label c-azul-bishound ">DUE DATE (MM/YY)</label>
                      <input type="text" name="" id="input" class="form-control bishound-input" >

                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4">
                      <label for="input" class=" control-label c-azul-bishound ">SECURITY CODE</label>
                      <input type="text" name="" id="input" class="form-control bishound-input" >

                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 offset-md-3 mt-5 text-center">
                    <button type="button" class="btn btn-primary btn-lg btn-block p-3">Save</button>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center mt-5">
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block p-3" (click)="goBack()">Cancel</button>
                  </div>

                </div>
                <!-- fin credit cart -->
                <!-- Inicia Bis card -->
                <div class="card-body row" *ngIf="Cardselected==2">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                      <h2>Add Bis  Card</h2>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4">
                        <label for="input" class=" control-label c-azul-bishound ">CODE NUMBER</label>
                        <input type="text" name="numeroBisCard" id="numeroBisCard" class="form-control bishound-input" [(ngModel)]="bisCard.numeroBisCard" >

                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 offset-md-3 mt-5 text-center">
                      <button type="button" class="btn btn-primary btn-lg btn-block p-3" (click)="inserBisCard()">Save</button>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center mt-5">
                      <button type="button" class="btn btn-outline-primary btn-lg btn-block p-3" (click)="goBack()">Cancel</button>
                    </div>

                  </div>
                  <!-- Fin Bis card -->
              </div>
        </div>
      <!-- Fin Main Home Page -->
    </div>

    <!-- Fin Home Windows -->
  </div>
