<div class="pr-5 pl-5 bg-bishound">
  <app-dashboard-nav-bar></app-dashboard-nav-bar>

    <!-- Home Windows -->

    <div class="row">
      <!-- Main Home Page -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row ml-0 mr-0 mt-1 mb-4 border border-bishound p-4">
            <div class="mb-0 col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center border-right border-bottom border-bishound p-5">
              <h1>
                <strong>10</strong> Orders
              </h1>
            </div>
            <div class="mb-0 col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center border-left border-bottom border-bishound p-5">
              <h1>
                <strong>15</strong> Products
              </h1>
            </div>
            <div class="mb-0 col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center border-right border-top border-bishound p-5">
              <h1>
                <strong>12</strong> Bis
              </h1>
            </div>
            <div class="mb-0 col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center border-left border-top border-bishound p-5">
              <h1>
                <strong>8</strong> Job Requests
              </h1>
            </div>
        </div>
      </div>
      <!-- Fin Main Home Page -->
    </div>

    <!-- Fin Home Windows -->
  </div>
