<div class="container mt-3">
    <div class="row">
      <!-- Columna con Bis -->
      <div class="col-xl-8 col-sm-8 col-md-8 col-lg-8">
        <!-- Cuadro de Titulo -->
        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12 c-bishound">
          <h1 class="mb-5">Review <span style="font-size:0.5rem;height: 1rem;"><i class="fa fa-circle"></i></span> <span class="c-celeste-bishound">Name of the Project</span></h1>
        </div>
        <!-- Fin Cuadro de Titulo -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-left mb-4">
                <span class="c-azul-bishound"><h4>Review</h4></span>
                <small>Provide a review for your seller, doesn’t matter if is good or bad, this will help each other to improve.</small>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4">
                <textarea name="" id="" class="form-control bishound-input" rows="8" required="required"></textarea>
                <div class="text-right c-celeste-bishound"><small>Left 1500 charactres</small></div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-left mb-4">
                <span class="c-azul-bishound"><h4>RATE YOUR SERVICE</h4></span>
                <small>Below you will find the main topics we need to get your rate</small>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4">
                  <div class="row">
                      <div class="col-xl-4 col-sm-4 col-md-4 col-lg-4 text-left">
                        <span>1. Communication with seller</span>
                      </div>
                      <div class="col-xl-3 col-sm-3 col-md-3 col-lg-3 text-left">
                          <div class="rate">
                              <p class="clasificacion">
                                <input id="radio1-commentsOfComments" type="radio" name="commentsOfComments" value="5" [checked]="calificacion==5"><!--
                                --><label for="radio1-commentsOfComments">★</label><!--
                                --><input id="radio2-commentsOfComments" type="radio" name="commentsOfComments" value="4" [checked]="calificacion==4"><!--
                                --><label for="radio2-commentsOfComments">★</label><!--
                                --><input id="radio3-commentsOfComments" type="radio" name="commentsOfComments" value="3" [checked]="calificacion==3"><!--
                                --><label for="radio3-commentsOfComments">★</label><!--
                                --><input id="radio4-commentsOfComments" type="radio" name="commentsOfComments" value="2" [checked]="calificacion==2"><!--
                                --><label for="radio4-commentsOfComments">★</label><!--
                                --><input id="radio5-commentsOfComments" type="radio" name="commentsOfComments" value="1" [checked]="calificacion==1"><!--
                                --><label for="radio5-commentsOfComments">★</label>
                              </p>
                            </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xl-4 col-sm-4 col-md-4 col-lg-4 text-left">
                        <span>2.  Service as Described</span>
                      </div>
                      <div class="col-xl-3 col-sm-3 col-md-3 col-lg-3 text-left">
                          <div class="rate">
                              <p class="clasificacion">
                                <input id="radio1-commentsOfComments" type="radio" name="commentsOfComments" value="5" [checked]="calificacion==5"><!--
                                --><label for="radio1-commentsOfComments">★</label><!--
                                --><input id="radio2-commentsOfComments" type="radio" name="commentsOfComments" value="4" [checked]="calificacion==4"><!--
                                --><label for="radio2-commentsOfComments">★</label><!--
                                --><input id="radio3-commentsOfComments" type="radio" name="commentsOfComments" value="3" [checked]="calificacion==3"><!--
                                --><label for="radio3-commentsOfComments">★</label><!--
                                --><input id="radio4-commentsOfComments" type="radio" name="commentsOfComments" value="2" [checked]="calificacion==2"><!--
                                --><label for="radio4-commentsOfComments">★</label><!--
                                --><input id="radio5-commentsOfComments" type="radio" name="commentsOfComments" value="1" [checked]="calificacion==1"><!--
                                --><label for="radio5-commentsOfComments">★</label>
                              </p>
                            </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xl-4 col-sm-4 col-md-4 col-lg-4 text-left">
                        <span>3. Buy again or recommend</span>
                      </div>
                      <div class="col-xl-3 col-sm-3 col-md-3 col-lg-3 text-left">
                          <div class="rate">
                              <p class="clasificacion">
                                <input id="radio1-commentsOfComments" type="radio" name="commentsOfComments" value="5" [checked]="calificacion==5"><!--
                                --><label for="radio1-commentsOfComments">★</label><!--
                                --><input id="radio2-commentsOfComments" type="radio" name="commentsOfComments" value="4" [checked]="calificacion==4"><!--
                                --><label for="radio2-commentsOfComments">★</label><!--
                                --><input id="radio3-commentsOfComments" type="radio" name="commentsOfComments" value="3" [checked]="calificacion==3"><!--
                                --><label for="radio3-commentsOfComments">★</label><!--
                                --><input id="radio4-commentsOfComments" type="radio" name="commentsOfComments" value="2" [checked]="calificacion==2"><!--
                                --><label for="radio4-commentsOfComments">★</label><!--
                                --><input id="radio5-commentsOfComments" type="radio" name="commentsOfComments" value="1" [checked]="calificacion==1"><!--
                                --><label for="radio5-commentsOfComments">★</label>
                              </p>
                            </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-left mb-4">
                <span class="c-azul-bishound"><h4>GIVE A COMPLIMENT</h4></span>
                <small>If your seller exceeds your expectations, give it a compliment</small>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left mb-4">
                      <table class="table table-striped table-hover commerce" [mfData]="Table" #mf="mfDataTable" [mfRowsOnPage]="30">
                          <tbody class="row bg-bishound">
                            <div class="col-xl-3 bg-bishound" *ngFor="let data of mf.data">
                                <div class="card mb-5 border-0 bg-bishound">
                                    <div class="card-body text-center">
                                      <img src="{{((data.picture!=null)?data.picture:'http://placehold.it/50X50?text=X')}}" style="width:7rem;height:7rem;" class="rounded-circle" alt="Card image cap">
                                      <div> {{((data.descripcion!=null)?data.descripcion:'')}}</div>
                                    </div>
                                </div>
                            </div>
                          </tbody>
                          <tfoot>
                          <tr>
                              <td colspan="4">
                                  <mfBootstrapPaginator></mfBootstrapPaginator>
                              </td>
                          </tr>
                          </tfoot>
                      </table>
              </div>
        </div>
      </div>
      <!-- Fin Columna con Bis -->
      <!-- Columna con Seller -->
        <div class="col-xl-4 col-sm-4 col-md-4 col-lg-4">
            <!-- Project Card -->
            <h2 class="c-azul-bishound">Project Description</h2>
            <div class="bg-bishound c-bishound">
                <div class="card-body">
                  <h3 class="c-azul-bishound text-left">Description</h3>
                </div>
                <!-- Project Data -->
                <div class="row ml-0 mr-0 mt-3 mb-4 pr-4 pl-4">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Ut auctor eu libero sed luctus. In ut viverra mi, eget accumsan justo. In et viverra magna. Vivamus quis turpis justo. Cras facilisis vitae dolor nec lacinia. Cras varius pulvinar posuere. Suspendisse vel sollicitudin nisl. Donec mauris diam, facilisis in feugiat quis, blandit eget odio. Integer lacus arcu, dapibus et felis et, euismod scelerisque nisi. Maecenas dapibus lorem massa. Morbi at odio pretium, dapibus eros consequat, vehicula ex. Aenean tempor dictum viverra.
                  </p>
                  <br>
                  <p>Fusce condimentum accumsan metus, vitae interdum ante rutrum a. Pellentesque congue urna lorem, nec euismod nibh scelerisque faucibus. Integer ipsum justo, dictum non eros a, faucibus sagittis libero. Vestibulum neque sapien, malesuada non neque ac, ultricies venenatis erat. Pellentesque a condimentum dui. In posuere orci velit, vitae molestie urna posuere nec. Ut quam erat, iaculis nec enim sed, posuere maximus ex. Donec sit amet tempus purus, at lobortis lorem.
                  </p>
                </div>
                <!-- Fin Project Data -->
                <div class="row pr-4 pl-4">
                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <h5>Budget</h5>
                  </div>
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <h5 class="c-azul-bishound">$ 1,250.00</h5>
                  </div>
                  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <h5>Delivery time frame</h5>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <h5 class="c-azul-bishound">3 weeks</h5>
                  </div>
                </div>

                <div class="row p-4">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <h4 class="c-azul-bishound">SKILLS REQUIRED</h4>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                      <h5>Skill 1, Skill 2, Skill n...</h5>
                    </div>
                  </div>

            </div>
            <!-- Fin Project Card -->


        </div>
      <!-- Fin Columna con Seller -->
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 offset-md-1  mt-5 text-center">
          <button type="button" class="btn btn-primary btn-lg btn-block p-3">Submit Your Review</button>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center mt-5">
          <button type="button" class="btn btn-outline-primary btn-lg btn-block p-3">Cancel Your Review</button>
        </div>
    </div>



  </div>


