<block-ui>
<div class="body w-100" *ngIf="searchValues">
  <header class="bg-animate-adds " (click)='clicks>0?ocultar():clicks=clicks+1;' >
      <nav class="navbar navbar-expand-lg navbar-bishound"  style="padding: 1rem;">
          <div class="w-100i d-flex pr-5 pl-5">
            <a class="navbar-brand" [routerLink]="['./']" (click)="navegar('./../main')">
              <img src="../../assets/png/Iconos/isotipo_large.png" style="height:4rem; width:4rem; " alt="Bishound">
              <img id="logoTipo" class="d-none" src="../../assets/png/Iconos/Bishound_Big.png" style="height:3rem; width:18rem; " alt="Bishound">
            </a>
            <div id="inSeachForm" class="form-inline my-2 my-lg-0 d-none w-50i">
                <div class="input-group w-100i">
                  <div class="input-group-prepend">
                    <div class="dropdown">
                      <button class="btn p-2 btn-secondary dropdown-toggle" style="font-size:1.2rem;" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{searchValues.type}}
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2" [ngStyle]="{'display': filter? 'block' : ''}">
                        <button class="dropdown-item" type="button" [class.active]="searchValues.type=='All'" (click)="filter=false;searchValues.type='All'">All</button>
                        <button class="dropdown-item" type="button" [class.active]="searchValues.type=='Services'" (click)="filter=false;searchValues.type='Services'">Services</button>
                        <button class="dropdown-item" type="button" [class.active]="searchValues.type=='Products'" (click)="filter=false;searchValues.type='Products'">Products</button>
                        <button class="dropdown-item" type="button" [class.active]="searchValues.type=='Supliers'" (click)="filter=false;searchValues.type='Supliers'">Supliers</button>
                      </div>
                    </div>
                  </div>
                  <input type="text" class="form-control " [(ngModel)]="searchValues.searchContent" (change)="getSearch($event)" (keyup)="getSearch($event)" [ngModelOptions]="{standalone: true}"  placeholder="Search">
                </div>
            </div>

            <div id="inSeachProjectForm" class="form-inline my-2 my-lg-0 d-none w-50i">
                <div class="input-group w-100i">
                  <div class="input-group-prepend">
                    <div class="dropdown">
                      <button class="btn p-2 btn-secondary dropdown-toggle" style="font-size:1.2rem;" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{searchValues.type}}
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu3" [ngStyle]="{'display': filter? 'block' : ''}">
                        <button class="dropdown-item" type="button" [class.active]="searchValues.type=='All'" (click)="filter=false;searchValues.type='All'">All</button>
                        <button class="dropdown-item" type="button" [class.active]="searchValues.type=='Services'" (click)="filter=false;searchValues.type='Services'">Services</button>
                        <button class="dropdown-item" type="button" [class.active]="searchValues.type=='Products'" (click)="filter=false;searchValues.type='Products'">Products</button>
                        <button class="dropdown-item" type="button" [class.active]="searchValues.type=='Supliers'" (click)="filter=false;searchValues.type='Supliers'">Supliers</button>
                      </div>
                    </div>
                  </div>
                  <input type="text" class="form-control " [(ngModel)]="searchValues.searchContent" (change)="getSearch($event)" (keyup)="getSearch($event)" [ngModelOptions]="{standalone: true}"  placeholder="Search">
                </div>
            </div>

            <div class="ml-auto" id="navbarResponsive">
              <ul class="navbar-nav ml-auto" *ngIf='!user.id'>
                <li class="nav-item" routerLinkActive="c-rosa-bishound">
                  <a class="nav-link mt-3 mr-1" [routerLink]="['./']" (click)="postProject();" >Post a Project</a>
                </li>
                <li class="nav-item" routerLinkActive="c-rosa-bishound">
                  <a class="nav-link mt-3 mr-3" [routerLink]="['./']" (click)="navegar('./../become-seller')" >Become a Professional</a>
                </li>
                <li class="dropdown">
                  <a class="dropdown mr-3" data-toggle="dropdown" href="#">
                      <i style="font-size:1.5rem;" class="fa fa-shopping-cart mr-1 mt-3 pt-1"></i>{{(agregados.length>0)?agregados.length:''}}
                  </a>
                  <div class="dropdown-menu" style="margin-top: -0.5rem;width: 15rem;">
                    <div *ngIf="agregados.length<=0">
                      <a class="dropdown-item text-dark">
                        <div class="row">
                          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pt-2 pb-2 pl-3">
                              <img src="https://cdn2.iconfinder.com/data/icons/smile-glyph-silhouettes-1/300/11536523Untitled-3-512.png" style="width: 2.3rem;margin-left: -1rem;" alt="">
                          </div>
                          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pt-2 pb-2 pr-3 pt-3">
                            <h5>0 Items Added</h5>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div *ngIf="agregados.length>0">
                      <a class="dropdown-item text-dark " *ngFor="let data of Table2" routerLinkActive="active">
                        <div class="row" style="overflow-x: auto;">
                          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pt-2 pb-2">
                              <img src="{{((data.ImagenesBis!=null && data.ImagenesBis.length>0)?data.ImagenesBis[0].url:'http://placehold.it/1000X1000?text='+data.titulo)}}" style="width: 2.3rem;margin-left: -1rem;" alt="">
                          </div>
                          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8  offset-xl-1 pt-2 pb-2">
                            <h5>{{((data.titulo!=null)?data.titulo:'')}}</h5>
                          </div>
                        </div>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item text-dark" [routerLink]="['./']" (click)="navegar('./../compare-seller')">
                        <i class="fa fa-sign-out"></i>
                        See more
                      </a>
                    </div>
                  </div>
                </li>
                <li class="nav-item" routerLinkActive="c-rosa-bishound">
                  <a class="nav-link mt-3 mr-1" [routerLink]="['./']" (click)="navegar('./../register')" >Sign Up</a>
                </li>
                <li class="nav-item" routerLinkActive="c-rosa-bishound">
                  <a class="nav-link mt-3 mr-3" [routerLink]="['./']" (click)="navegar('./../login')">Log In</a>
                </li>
                <li class="dropdown" style="padding-top: 1.4rem;">
                  <a class="dropdown mr-3" data-toggle="dropdown" href="#">
                      <span style="font-size:1rem;" class="mr-1">
                        {{browserLang.toUpperCase()}}
                      </span>
                  </a>
                  <div class="dropdown-menu" style="margin-top: 0rem;width: 10rem;margin-left: -5rem;">
                      <a class="dropdown-item " [class.c-celeste-bishound]="browserLang=='es'" [class.c-azul-bishound]="browserLang!='es'" (click)="browserLang='es';changeLang();">
                        <div class="row" >
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-2 pb-2 pr-4">
                            <h5>Español</h5>
                          </div>
                        </div>
                      </a>
                      <a class="dropdown-item c-azul-bishound" [class.c-celeste-bishound]="browserLang=='en'"  [class.c-azul-bishound]="browserLang!='en'" (click)="browserLang='en';changeLang();">
                        <div class="row" >
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-2 pb-2 pr-4">
                            <h5>English</h5>
                          </div>
                        </div>
                      </a>
                  </div>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto" *ngIf='user.id'>
                  <li class="nav-item" routerLinkActive="c-rosa-bishound">
                    <a class="nav-link mt-4 mr-1" [routerLink]="['./']" (click)="postProject();" >Post a Project</a>
                  </li>
                  <li class="nav-item" routerLinkActive="c-rosa-bishound" *ngIf="tipoUsuario==1">
                    <a class="nav-link mt-4 mr-3" [routerLink]="['./']" (click)="navegar('./../become-seller')" >Become a Professional</a>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown mr-4" data-toggle="dropdown" href="#">
                        <i style="font-size:1.5rem;" class="fa fa-shopping-cart mr-1 mt-4 pt-1"></i>{{(agregados.length>0)?agregados.length:''}}
                    </a>
                    <div class="dropdown-menu" style="margin-top: -1rem;width: 15rem;margin-left: -2rem;">
                      <div *ngIf="agregados.length<=0">
                        <a class="dropdown-item text-dark">
                          <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pt-2 pb-2 pl-3">
                                <img src="https://cdn2.iconfinder.com/data/icons/smile-glyph-silhouettes-1/300/11536523Untitled-3-512.png" style="width: 2.3rem;margin-left: -1rem;" alt="">
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pt-2 pb-2 pr-3 pt-3">
                              <h5>0 Items Added</h5>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div *ngIf="agregados.length>0">
                        <a class="dropdown-item text-dark " *ngFor="let data of Table2" routerLinkActive="active">
                          <div class="row" style="overflow-x: auto;">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pt-2 pb-2">
                                <img src="{{((data.ImagenesBis!=null && data.ImagenesBis.length>0)?data.ImagenesBis[0].url:'http://placehold.it/1000X1000?text='+data.titulo)}}" style="width: 2.3rem;margin-left: -1rem;" alt="">
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8  offset-xl-1 pt-2 pb-2">
                              <h5>{{((data.titulo!=null)?data.titulo:'')}}</h5>
                            </div>
                          </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-dark" [routerLink]="['./']" (click)="navegar('./../compare-seller')">
                          <i class="fa fa-sign-out"></i>
                          See more
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown" data-toggle="dropdown" href="#">
                        <img class="rounded-circle" id="rouded-profile" src="{{(mainImg && mainImg!='null' && mainImg!='')?mainImg:'https://png.icons8.com/find-user-male/color/1600'}}" width="50" height="50" alt="Bishound" style="margin-top:10px;">
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <div class="dropdown-menu" style="left:-5rem;">
                        <a class="dropdown-item text-dark"  [routerLink]="['./']" (click)="navegar('./../../dashboard/')">
                            <i class="fa fa-bar-chart"></i>
                            My Profile
                        </a>
                        <a *ngIf="tipoUsuario==2" class="dropdown-item text-dark"   tooltip="Comming Soon" placement="rigth" disabled [routerLink]="['./']" >
                            <i class="fa fa-comments"></i>
                            Chat
                        </a>
                        <a *ngIf="tipoUsuario==2" class="dropdown-item text-dark"  [routerLink]="['./']" (click)="navegar('./../projects')">
                            <i class="fa fa-comments"></i>
                            Browse a Project
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-dark" (click)="logout();">
                          <i class="fa fa-sign-out"></i>
                          Logout
                        </a>
                    </div>
                  </li>
                  <li class="dropdown" style="padding-top: 1.8rem;padding-left:1rem;">
                    <a class="dropdown mr-3" data-toggle="dropdown" href="#">
                        <span style="font-size:1rem;" class="mr-1">
                          {{browserLang.toUpperCase()}}
                        </span>
                    </a>
                    <div class="dropdown-menu" style="margin-top: 0rem;width: 10rem;margin-left: -5rem;">
                        <a class="dropdown-item " [class.c-celeste-bishound]="browserLang=='es'" [class.c-azul-bishound]="browserLang!='es'" (click)="browserLang='es';changeLang();">
                          <div class="row" >
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-2 pb-2 pr-4">
                              <h5>Español</h5>
                            </div>
                          </div>
                        </a>
                        <a class="dropdown-item c-azul-bishound" [class.c-celeste-bishound]="browserLang=='en'"  [class.c-azul-bishound]="browserLang!='en'" (click)="browserLang='en';changeLang();">
                          <div class="row" >
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-2 pb-2 pr-4">
                              <h5>English</h5>
                            </div>
                          </div>
                        </a>
                    </div>
                  </li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="justify-content-md-center d-none pr-5 pl-5" id="searchContent" >
            <div class="col-xl-12 text-left">
                  <div class="jumbotron">
                    <div class="row" style="margin-top:5rem;">
                      <h2 class="display-4 col-xl-12 text-center c-azul-bishound" style="padding-left:0rem;font-weight: bold;color: #a7acb1;">
                        The Services and Suppliers Tool
                        <!-- {{lang.value}} -->
                        <!-- Best <span class="c-rosa-bishound">Services</span> on Demand -->
                      </h2>
                      <div class="input-group col-xl-6 offset-xl-3 text-center" style="padding-right:0px;padding-left: 0rem;">
                        <div class="input-group-prepend">
                          <div class="dropdown mt-3 ">
                            <button class="btn p-2 dropdown-toggle" style="background-color: #a7acb1;color: #ffffff;" type="button" (click)="filter=!filter;bandera=true;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{searchValues.type}}
                            </button>
                            <div class="dropdown-menu " [ngStyle]="{'display': filter? 'block' : ''}">
                                <button class="dropdown-item" type="button" [class.active]="searchValues.type=='All'" (click)="filter=false;searchValues.type='All';changePlaceholder()">All</button>
                                <button class="dropdown-item" type="button" [class.active]="searchValues.type=='Services'" (click)="filter=false;searchValues.type='Services';changePlaceholder()">Services</button>
                                <button class="dropdown-item" type="button" [class.active]="searchValues.type=='Products'" (click)="filter=false;searchValues.type='Products';changePlaceholder()">Products</button>
                                <button class="dropdown-item" type="button" [class.active]="searchValues.type=='Supliers'" (click)="filter=false;searchValues.type='Supliers';changePlaceholder()">Supliers</button>
                            </div>
                          </div>
                        </div>
                        <input type="text" class="form-control mt-3 p-2" [(ngModel)]="searchValues.searchContent" (change)="getSearch($event)" (keyup)="getSearch($event)" [ngModelOptions]="{standalone: true}"  placeholder="{{placeholder}}">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-12 text-center  ">
                        <!-- <p class="lead c-rosa-bishound">How it works?</p> -->
                      </div>
                    </div>

                  </div>
            </div>
            <!-- Inicia logos de Parnerts -->
            <div style="padding-top:10rem;">
              <ul class="trusted-by" *ngIf="partners">
                <li *ngFor="let data of partners" style="padding-right:2rem;padding-left:2rem;">
                  <picture >
                    <img class="logo" style="width: auto; height:100px;" src="{{(data.logo!='')?data.logo:'https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/facebook.288e99d.png'}}" alt="{{data.nombre?data.nombre:'facebook'}}">
                  </picture>
                </li>
              </ul>
            </div>
            <!-- Fin logos de Parnerts -->
          </div>

  </header>
  <div>
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>
</block-ui>
